.space-table {
  margin: 45px;
}

.relative.style-search {
  margin: 0 60vh 20px 0;
}

.flex{
  display: flex;
  flex-direction: initial;
  justify-content: flex-end;
  
}

.style-modal{
  display: flex;
  flex-direction: initial;
  justify-content: flex-start;
}