.space-table {
  margin: 45px;
}

.relative.style-search {
  margin: 0 60vh 20px 0;
}

.flex{
  display: flex;
  flex-direction: initial;
  justify-content: flex-end;
  
}

.style-modal{
  display: flex;
  flex-direction: initial;
  justify-content: flex-start;
}

.line{
  display: flex;
  flex-direction: row;
}
.line-justify{
  display: flex;
  flex-direction: initial;
  justify-content: center;
}

.style-icon:hover svg path{
  fill: #E9E9E9;
}

.style-icon-pdf:hover svg path{
  stroke: #E9E9E9;
}

/* En tu archivo CSS */
button.disabled {
  background-color: #fff; /* Color de fondo gris */
  border-color: #cccccc;
  color: #ccc; /* Color de texto gris oscuro */
  cursor: not-allowed; /* Cambia el cursor a un signo de 'no permitido' */
}
