<div class="center-container">
  

  <div class="container">
    
    <div class="forms">
      <div class="form login">

        <form class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <p class="title">Register </p>
          <p class="message">Signup now and get full access to our app. </p>
          
          <!--identificacion y rol-->
          <div class="flex">
              <label>
                  <input class="input style-identificacion" formControlName="Identificacion" type="text" appNumbersOnly placeholder="" required="">
                  <span>Identificacion</span>
              </label>
      
              <div class="form-select ">
                <mat-form-field>
                  <mat-label> Seleccione:</mat-label>
                  <mat-select formControlName="rol" (click)="toggleSelect()">
                    <mat-option *ngFor="let users of users" [value]="users.value">
                      {{users.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          </div>  

          <!-- nombre y ubicacion-->
          <div class="flex">
            <label>
              <input class="input" formControlName="Nombre" type="text" placeholder="" required="">
              <span>Nombre</span>
            </label>
            
            <label>
              <input class="input"  formControlName="Ubicacion" type="texr" placeholder="" required="">
              <span>Ubicacion</span>
            </label> 
          </div>
          
          <!--telefono y correo-->
          <div class="flex">
            <label>
              <input class="input" formControlName="Telefono" appNumbersOnly type="email" placeholder="" required="">
              <span>Telefono</span>
            </label> 

            <label>
              <input class="input" formControlName="Correo" type="email" placeholder="" required="">
              <span>Correo</span>
            </label> 
          </div>

          <!--usuario-->
          <label>
            <input class="input" formControlName="Usuario" type="email" placeholder="" required="">
            <span>Usuario</span>
          </label> 

          <!--contrasena-->
          <label>
              <input class="input" formControlName="Contrasena" type="text" placeholder="" required="">
              <span>Contraseña</span>
          </label>

          <!--nueva contrasena-->
          <label>
              <input class="input" type="password" placeholder="" required="">
              <span>Confirmar contraseña</span>
          </label>
          <button class="submit">Submit</button>
          <p class="signin" routerLink="/login">Already have an acount ? <a href="#">Signin</a> </p>
          
        </form>
      </div>
      
    </div>
    
  </div>
</div>
