<!--<div class="center-container">
  

  <div class="container">
    
    <div class="forms">
      <div class="form login">

        <form class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <p class="title">Register </p>
          <p class="message">Signup now and get full access to our app. </p>
          
          <!--identificacion y rol-->
          <!--<div class="flex">
              <label>
                  <input class="input style-identificacion" formControlName="Identificacion" type="text" appNumbersOnly placeholder="" required="">
                  <span>Identificacion</span>
              </label>
      
              <div class="form-select ">
                <mat-form-field>
                  <mat-label> Seleccione:</mat-label>
                  <mat-select formControlName="rol" (click)="toggleSelect()">
                    <mat-option *ngFor="let users of users" [value]="users.value">
                      {{users.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          </div>  

          <!-- nombre y ubicacion-->
          <!--<div class="flex">
            <label>
              <input class="input" formControlName="Nombre" type="text" placeholder="" required="">
              <span>Nombre</span>
            </label>
            
            <label>
              <input class="input"  formControlName="Ubicacion" type="texr" placeholder="" required="">
              <span>Ubicacion</span>
            </label> 
          </div>
          
          <!--telefono y correo-->
          <!--<div class="flex">
            <label>
              <input class="input" formControlName="Telefono" appNumbersOnly type="email" placeholder="" required="">
              <span>Telefono</span>
            </label> 

            <label>
              <input class="input" formControlName="Correo" type="email" placeholder="" required="">
              <span>Correo</span>
            </label> 
          </div>

          <!--usuario-->
          <!--<label>
            <input class="input" formControlName="Usuario" type="email" placeholder="" required="">
            <span>Usuario</span>
          </label> 

          <!--contrasena-->
          <!--<label>
              <input class="input" formControlName="Contrasena" type="text" placeholder="" required="">
              <span>Contraseña</span>
          </label>

          <!--nueva contrasena-->
          <!--<label>
              <input class="input" type="password" placeholder="" required="">
              <span>Confirmar contraseña</span>
          </label>
          <button class="submit">Submit</button>
          <p class="signin" routerLink="/login">Already have an acount ? <a href="#">Signin</a> </p>
          
        </form>
      </div>
      
    </div>
    
  </div>
</div>-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="container text-center">
    <div class="row">
      <div class="col-6 col-sm-4">
        <div class="title">
          <h1>SIGN UP</h1>
        </div>

        <div class="description">
          <p>En Esta seccion Puede registrarse llenando su informacion </p> 
          <p>personal para ser logueado posteriormente, o podria hacerlo </p>
          <p>mas rapido mediante a su cuenta de google o github</p>
        </div>
        
        <nz-steps>
          <nz-step nzTitle="Identificacion" nzStatus="process" nzIcon="solution"></nz-step>
          <nz-step nzTitle="Information" [nzStatus]="datosCompletos ? 'finish' : 'wait'" nzIcon="user">dx</nz-step>
          <nz-step nzTitle="Credentials" [nzStatus]="datosCompletos ? 'finish' : 'wait'" nzIcon="lock"></nz-step>
          <nz-step nzTitle="Done" [nzStatus]="datosCompletos ? 'finish' : 'wait'" [nzIcon]="iconTemplate"></nz-step>
          <ng-template #iconTemplate><span nz-icon nzType="smile"></span></ng-template>
        </nz-steps>
        <!--acordeon 1-->
        <div class="content-principal">
          <div class="acordeon">
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    IDENTIFICACION
                  </mat-panel-title>
                  <mat-panel-description>
                    This is a summary of the content
                  </mat-panel-description>
                </mat-expansion-panel-header>
                
                <!--identificacion y rol-->
              <div class="flex">
                  <label>
                      <input class="input style-identificacion" formControlName="Identificacion" type="text" appNumbersOnly placeholder="" required="">
                      <span>Identificacion</span>
                  </label>
          
                  <div class="form-select ">
                    <mat-form-field>
                      <mat-label> Seleccione:</mat-label>
                      <mat-select formControlName="rol" (click)="toggleSelect()">
                        <mat-option *ngFor="let users of users" [value]="users.value">
                          {{users.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
              </div>  
                
              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <div class="acordeon2">
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    INFORMATION
                  </mat-panel-title>
                  <mat-panel-description>
                    This is a summary of the content
                  </mat-panel-description>
                </mat-expansion-panel-header>
                  <div class="container-acordeon">
                    <!-- nombre y ubicacion-->
                    <div class="flex">
                      <label>
                        <input class="input" formControlName="Nombre" type="text" placeholder="" required="">
                        <span>Nombre</span>
                      </label>
                      
                      <label>
                        <input class="input"  formControlName="Ubicacion" type="texr" placeholder="" required="">
                        <span>Ubicacion</span>
                      </label> 
                    </div>
                  </div>

                    <!--telefono y correo-->
                    <div class="flex">
                      <label>
                        <input class="input" formControlName="Telefono" appNumbersOnly type="email" placeholder="" required="">
                        <span>Telefono</span>
                      </label> 

                      <label>
                        <input class="input" formControlName="Correo" type="email" placeholder="" required="">
                        <span>Correo</span>
                      </label> 
                    </div>
                          
                        </mat-expansion-panel>
                      </mat-accordion>
          </div>

          <div class="acordeon3">
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    CREDENTIALS
                  </mat-panel-title>
                  <mat-panel-description>
                    This is a summary of the content
                  </mat-panel-description>
                </mat-expansion-panel-header>
                
                  <!--usuario-->
                  <label>
                    <input class="input" formControlName="Usuario" type="email" placeholder="" required="">
                    <span>Usuario</span>
                  </label> 

                  <!--contrasena-->
                  <label>
                      <input class="input" formControlName="Contrasena" type="text" placeholder="" required="">
                      <span>Contraseña</span>
                  </label>

                  <!--nueva contrasena-->
                  <label>
                      <input class="input" type="password" placeholder="" required="">
                      <span>Confirmar contraseña</span>
                  </label>
                
              </mat-expansion-panel>
            </mat-accordion>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
</html>




