<div class="relative mt-6 p-4 w-full max-w-2xl h-full ">
    <!-- Modal content -->
    @switch (state){
    @case (0){
    <div class="flex justify-center items-center ">
      <div class="w-90 rounded-2xl bg-gray-200 mb-5" style="border: 1px solid #e1e1e1">
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <!-- <button type="button" (click)="cerrarModalUpdate()"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button> -->
        </div>
        <div class="flex flex-col gap-2 px-8 pb-6">
          <h1 class="text-xl font-black text-gray-600 dark:text-white m-0" style="margin:0">
            <strong>Olvido su contraseña?</strong>
          </h1>
          <span class="text-gray-500 text-base">No te preocupes, te enviaremos instrucciones de reinicio </span>
          <div class="relative mt-5">

            <span style="margin-top: 11px;" class="absolute items-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6 mx-3 text-gray-400 dark:text-gray-500">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
              </svg>
            </span>

            <input type="email" placeholder="john@example.com" (input)="onInputChange($event)" #inputUpdatePassword
              (keydown)="onKeydown($event)" (keydown.enter)="peticionCambioContrasena(inputUpdatePassword.value)"
              class="block w-full py-2.5 text-gray-700 placeholder-gray-400/70 bg-gray-100 border border-gray-300 rounded-lg pl-11 pr-5 rtl:pr-11 rtl:pl-5 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">

            <div *ngIf="previewVisible" class="text-gray-500 text-sm mt-1">
              presione <strong> TAB</strong> para autocompletar<strong>{{ previewValue }}</strong>
            </div>
          </div>
          <!-- botones de confirmar y cancelar -->
          <div class="grid grid-cols-2 gap-6 mt-5">
            <button (click)="cerrarModalUpdate()"
              class="text-gray-500 bg-gray-100 hover:bg-gray-50 hover:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-5 py-2.5 text-left hover:scale-105 duration-300 text-center border border-gray-300">
              Cancelar
            </button>

            <button (click)="peticionCambioContrasena(inputUpdatePassword.value)"
              class="inline-block cursor-pointer rounded-md bg-[#3b5998] px-4 py-3.5 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-[#2e4475] focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-700 focus-visible:ring-offset-2 active:scale-95 hover:scale-105 duration-300">
              @if(!cargandoUpdatePassword){
              <span>Enviar</span>
              }
              @if(cargandoUpdatePassword){
              <span class="inline-flex items-center text-white">
                <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin"
                  viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="#e1e1e1" />
                  <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentColor" />
                </svg>
                Cargando...
              </span>
              }
            </button>
          </div>
        </div>


      </div>
    </div>
    }
    @case (1){
    <div class="flex justify-center items-center">
      <div class="w-90 rounded-2xl bg-gray-200 mb-5" style="border: 1px solid #e1e1e1">
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <button type="button" (click)="declineUpdatePassword()"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-hide="default-modal">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <div class="flex flex-col gap-2 px-8 pb-6">
          <div class="grid grid-cols-1 justify-center items-center">
            <div class="flex justify-center items-center">
              <img decoding="async" width="200" height="200"
                src="https://agenciasp.com/wp-content/uploads/2022/10/te-llamamo.png" alt="">
              <!-- <img decoding="async" width="150" height="150" class="emoji-img"
                src="https://emojitool.com/img/apple/ios-13.2/postbox-2582.png"
                alt="📮 Emoji Buzón en Apple iOS 13.2."> -->
            </div>
            <div class="flex justify-center items-center mt-8">
              <h1 class="text-xl font-black text-gray-600 dark:text-white m-0" style="margin:0">
                <strong>Revisa tu email</strong>
              </h1>
            </div>
            <div class="flex justify-center items-center">
              <p class="text-gray-500 text-base text-center">Hemos enviado instrucciones para <br> recuperar la
                contraseña a <strong> {{DataCorreoUpdate}} </strong> </p>
            </div>
          </div>

        </div>
        <div class="px-5">
          <a href="https://mail.google.com/mail" target="_blank">
            <button href="https://mail.google.com/mail" type="button"
              class="text-gray-900 bg-gray-100 hover:bg-gray-50 border border-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 me-2 w-full mb-2">
              <div class="flex justify-center items-center gap-2 w-full">
                <img
                  src="https://kstatic.googleusercontent.com/files/6d2a2dbaad1a3fe4c323dd6a4688db96e47b423de4175611399a97dc5b64a4ad7490d703aa0af80f28936e842e9d2448b1d74a530a2fe479a306d92281678efa"
                  alt="">
                <strong class="text-gray-600 text-lg">Abrir Gmail</strong>
                <svg class="w-6 h-6 text-gray-500" data-slot="icon" fill="none" stroke-width="1.5"
                  stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25">
                  </path>
                </svg>
              </div>
            </button>
          </a>

          <button (click)="validateEstadoUpdate()"
            class="bg-gray-200 py-4 flex justify-center items-center float-center text-center hover:scale-105 duration-300 py-3">
            <span class="text-gray-500 hover:text-blue-400 hover:underline"> ¡Haz clic aquí si la página no te lleva
              al siguiente paso automáticamente!</span>
          </button>
        </div>


      </div>
    </div>
    }
    @case (2){
    <div class="flex justify-center items-center ">
      <div class="w-90 rounded-2xl bg-gray-200 mb-5" style="border: 1px solid #e1e1e1">
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <button type="button" (click)="declineUpdatePassword()"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-hide="default-modal">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <div class="flex flex-col gap-2 px-8 pb-6">
          <h1 class="text-xl font-black text-gray-600 dark:text-white m-0" style="margin:0">
            <strong>Restablecer contraseña</strong>
          </h1>

          <form [formGroup]="passwordForm">
            <div class="grid grid-cols-1 gap-6">

              <div class="relative flex items-center mt-4">
                <input formControlName="contrasena" type="text" id="password"
                  class="block px-4 pb-2.5 pt-4 w-full text-sm text-gray-600 bg-gray-100 rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-gray-400 peer"
                  [type]="mostrarContrasena ? 'text' : 'password'" name="password" placeholder="* * * * *" required
                  autocomplete="current-password" />
                <label for="password"
                  class="absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-100 rounded rounded-xl dark:bg-gray-900 px-4 peer-focus:px-2 peer-focus:text-gray-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Contraseña</label>

                <button
                  class="absolute right-0 top-0 bottom-0 px-3 flex items-center justify-center focus:outline-none"
                  (click)="mostrar_contrasena()">

                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                    class="w-6 h-6 text-gray-400 transition-colors duration-300 hover:text-gray-500">
                    <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                    <path fill-rule="evenodd"
                      d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
                      clip-rule="evenodd" />
                  </svg>

                </button>
              </div>

              <div class="relative flex items-center">
                <input type="text" id="repeatPassword" formControlName="password"
                  class="block px-4 pb-2.5 pt-4 w-full text-sm text-gray-600 bg-gray-100 rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-gray-400 peer"
                  [type]="mostrarContrasena ? 'text' : 'password'" name="password" placeholder="* * * * *" required
                  autocomplete="current-password" />
                <label for="repeatPassword"
                  class="absolute text-base text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-100 rounded rounded-xl dark:bg-gray-900 px-4 peer-focus:px-2 peer-focus:text-gray-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Repetir
                  contraseña</label>

                <button
                  class="absolute right-0 top-0 bottom-0 px-3 flex items-center justify-center focus:outline-none"
                  (click)="mostrar_contrasena()">

                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                    class="w-6 h-6 text-gray-400 transition-colors duration-300 hover:text-gray-500">
                    <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                    <path fill-rule="evenodd"
                      d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
                      clip-rule="evenodd" />
                  </svg>

                </button>
              </div>
            </div>
          </form>
          <div class="flex items-center gap-1">
            <svg class=" text-gray-400 w-4 h-4 dark:text-gray-200" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <span class="text-gray-500 text-sm font-semibold">Ambas contraseñas deben coincidir</span>
          </div>
          <div class="grid grid-cols-2 gap-6 mt-5">
            <button (click)="declineUpdatePassword()"
              class="text-gray-500 bg-gray-100 hover:bg-gray-50 hover:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-5 py-2.5 text-left hover:scale-105 duration-300 text-center border border-gray-300">
              Cancelar
            </button>

            <button (click)="UpdatePassword()"
              class="inline-block cursor-pointer rounded-md bg-[#3b5998] px-4 py-3.5 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-[#2e4475] focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-700 focus-visible:ring-offset-2 active:scale-95 hover:scale-105 duration-300">
              @if(!cargandoUpdatePassword){
              <span>Cambiar contraseña</span>
              }
              @if(cargandoUpdatePassword){
              <span class="inline-flex items-center text-white">
                <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin"
                  viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="#e1e1e1" />
                  <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentColor" />
                </svg>
                Cargando...
              </span>
              }
            </button>
          </div>
        </div>


      </div>
    </div>
    }
    }
  </div>
