
<div class="bg-gray-100">
    <div class="flex items-center justify-center h-screen">
        <div class="max-w-md">
            <div class="bg-white shadow-md rounded-lg p-8">
                <div class="grid grid-cols-1">
                    @switch (state){
                    @case (2){
                    
                        <div class="w-full rounded-full flex justify-center items-center" style="margin-top: -160px;">
                            <img decoding="async" width="360" height="360"
                                src="https://firebasestorage.googleapis.com/v0/b/sumecar-ventas.appspot.com/o/imagenes%20externas%2Fsuccesful.png?alt=media&token=b4809076-5fe9-4c0d-8cf7-292e75cc697c"
                                sizes="(max-width: 540px) 100vw, 540px">
                            
                        </div>
                        <div class="grid grid-cols-1 gap-4">
                            <h2 class="text-2xl font-medium text-gray-500 text-center mb-6 pt-12">Su correo ha sido verificado correctamente :)
                            </h2>
                            
                            <div class="flex justify-center items-center">
                                <button (click)="windowClose()"
                                    class="inline-block cursor-pointer rounded-md bg-white px-4 py-3.5 text-center text-sm font-semibold uppercase text-gray-500 border border-gray-400 transition duration-200 ease-in-out hover:bg-[#2e4475] hover:text-white  focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-700 focus-visible:ring-offset-2 active:scale-95 hover:scale-105 duration-300">
                                    @if(!cargando){
                                    <span>Finalizar</span>
                                    }
                                    @if(cargando){
                                    <span class="inline-flex items-center text-gray-600 hover:text-white">
                                        <svg aria-hidden="true" role="status"
                                            class="inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                                fill="#ccc" />
                                            <path
                                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                                fill="currentColor" />
                                        </svg>
                                        Cargando...
                                    </span>
                                    }
                                </button>
                            </div>
                        </div>
                    
                    }
                    @case (1){
                    <div class="flex justify-center items-center" style="margin-top:-140px">
                        <img decoding="async" width="380" height="300" alt=""
                            src="https://i.postimg.cc/3J6SPPhx/9306595.png">
                    </div>
                    <div class="grid grid-cols-1 gap-4">
                        <h2 class="text-2xl font-medium text-gray-500 text-center mb-6 pt-12"> <b class="text-3xl"> Oops!.</b> <br> Su codigo de verificacion ya expiro :(
                        </h2>
                            <div class="flex justify-center items-center">
                                <button (click)="declineEmailConfirmation()"
                                    class="inline-block cursor-pointer rounded-md bg-white px-4 py-3.5 text-center text-sm font-semibold uppercase text-gray-500 border border-gray-400 transition duration-200 ease-in-out hover:bg-[#2e4475] hover:text-white  focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-700 focus-visible:ring-offset-2 active:scale-95 hover:scale-105 duration-300">
                                    @if(!cargando){
                                    <span>Aceptar</span>
                                    }
                                    @if(cargando){
                                    <span class="inline-flex items-center text-white">
                                        <svg aria-hidden="true" role="status"
                                            class="inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                                fill="#e1e1e1" />
                                            <path
                                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                                fill="currentColor" />
                                        </svg>
                                        Cargando...
                                    </span>
                                    }
                                </button>
                            </div>
                    </div>
                    }
                    @case (0){

                    <div class="flex justify-center items-center">
                        <img class=" w-[202px] h-[102px] mb-3" src="https://i.postimg.cc/MKQq1cmg/Sumecar-Logo.png"
                            alt="Extra large avatar">
                    </div>
                    <div>
                        <h2 class="text-2xl font-medium text-gray-500 text-center mb-6 pt-12">Por favor, confirma la
                            autorizacion de tus datos personales. Esta medida garantiza la seguridad de tu cuenta :)
                        </h2>
                        <div class="grid grid-cols-2 gap-6 mt-12">
                            <button (click)="declineEmailConfirmation()"
                                class="text-gray-500 bg-gray-50 hover:bg-gray-200 hover:text-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-5 py-2.5 text-left hover:scale-105 duration-300 text-center border border-gray-200">
                                @if(!cargando){
                                    <span>Cancelar</span>
                                    }
                                    @if(cargando){
                                    <span class="inline-flex items-center text-white">
                                        <svg aria-hidden="true" role="status"
                                            class="inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                                fill="#e1e1e1" />
                                            <path
                                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                                fill="currentColor" />
                                        </svg>
                                        Cargando...
                                    </span>
                                    }
                            </button>

                            <button (click)="validateEmail()"
                                class="inline-block cursor-pointer rounded-md bg-[#3b5998] px-4 py-3.5 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-[#2e4475] focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-700 focus-visible:ring-offset-2 active:scale-95 hover:scale-105 duration-300">
                                @if(!cargando){
                                <span>Confirmar</span>
                                }
                                @if(cargando){
                                <span class="inline-flex items-center text-white">
                                    <svg aria-hidden="true" role="status"
                                        class="inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                            fill="#e1e1e1" />
                                        <path
                                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                            fill="currentColor" />
                                    </svg>
                                    Cargando...
                                </span>
                                }
                            </button>
                        </div>
                    </div>

                    }
                    }
                </div>
            </div>
        </div>
    </div>
</div>