<div class="p-4 md:p-12">
  <h1 class="text-3xl mb-4"><span class="font-bold">Hello</span> World Form</h1>
  <app-stepper linear="true">
    <cdk-step [stepControl]="userForm">
      <ng-template cdkStepLabel>
        <span class="stepHeader font-weight-bold">Datos personales</span>
      </ng-template>
      <form class="forms-sample" [formGroup]="userForm">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <label
              for="first-name"
              class="block text-sm font-medium text-gray-700"
              >Nombres *</label
            >
            <input
              [class.border-rose-500]="invalidFirstname"
              formControlName="firstName"
              type="text"
              name="first-name"
              id="first-name"
              autocomplete="given-name"
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm"
            />
            <small *ngIf="invalidFirstname" class="text-red-500"
              >Ingrese al menos 5 letras</small
            >
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="last-name"
              class="block text-sm font-medium text-gray-700"
              >Apellidos *</label
            >
            <input
              [class.border-rose-500]="invalidLastname"
              formControlName="lastName"
              type="text"
              name="last-name"
              id="last-name"
              autocomplete="family-name"
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm"
            />
            <small *ngIf="invalidLastname" class="text-red-500"
              >Ingrese al menos 5 letras</small
            >
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="email-address"
              class="block text-sm font-medium text-gray-700"
              >Correo *</label
            >
            <input
              [class.border-rose-500]="invalidEmail"
              class="form-control"
              formControlName="email"
              type="text"
              name="email-address"
              id="email-address"
              autocomplete="email"
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm"
            />
            <small *ngIf="invalidEmail" class="text-red-500"
              >Ingrese un email correcto</small
            >
          </div>
        </div>
      </form>
    </cdk-step>
    <cdk-step>
      <ng-template cdkStepLabel>
        <span class="stepHeader font-weight-bold">Datos Profesionales</span>
      </ng-template>
      <p>This is any content of "Step 2"</p>
    </cdk-step>
    <cdk-step>
      <ng-template cdkStepLabel>
        <span class="stepHeader font-weight-bold">Datos Profesionales II</span>
      </ng-template>
      <p>This is any content of "Step 3"</p>
    </cdk-step>
    <cdk-step>
      <ng-template cdkStepLabel>
        <span class="stepHeader font-weight-bold">Confirmar</span>
      </ng-template>
      <p>This is any content of "Step 4"</p>
    </cdk-step>
  </app-stepper>
</div>
