<div class="stepper-container">
  <mat-horizontal-stepper [linear]="true" #stepper class="full-width-stepper">
    <!-- Paso 1 -->
    <mat-step label="Paso 1">
      <ng-template matStepLabel> Paso 1 </ng-template>
      <p>Contenido del Paso 1</p>
      <div>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </mat-step>

    <!-- Paso 2 -->
    <mat-step label="Paso 2">
      <ng-template matStepLabel> Paso 2 </ng-template>
      <p>Contenido del Paso 2</p>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </mat-step>

    <!-- Paso 3 -->
    <mat-step label="Paso 3">
      <ng-template matStepLabel> Paso 3 </ng-template>
      <p>Contenido del Paso 3</p>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </mat-step>

    <!-- Paso 4 -->
    <mat-step label="Paso 4">
      <ng-template matStepLabel> Paso 4 </ng-template>
      <p>Contenido del Paso 4</p>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button (click)="stepper.reset()">Reiniciar</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  
<button><a routerLink="/prueba-login">XD</a></button>
</div>

