/*Estilos del modal*/


/* Estilos para el stepper */
.full-width-stepper {
  width: 95%; /* Hacer que el stepper ocupe todo el ancho */
  border-radius: 20px;
  box-shadow: 15px 15px 30px #8b8b8b, -15px -15px 30px #ffffff;
}

/* Estilos para el contenedor del stepper */
.stepper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0; /* Cambia el color de fondo si lo deseas */
  font-family: "Arial", sans-serif; /* Cambia la fuente aquí */
}

/* Estilos para las etiquetas de paso */
mat-step-header {
  background-color: #1976D2;
  font-family: "Tahoma", sans-serif; /* Cambia la fuente aquí */
}

/* Estilos para la línea de progreso cuando se activa un paso */
.mat-horizontal-stepper-header-container:after {
  background-color: #1976D2; /* Cambia el color de la línea de progreso al morado */
}


/*nuevo boton*/
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  
}

.distancia {
  margin-right: 10px;
}

button {
  --primary-color: #001529;
  --secondary-color: #fff;
  --hover-color: #002A51;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  position: relative;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}
/*label*/
.card {
  width: 190px;
  height: 50px;
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}
.style-label{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: unset;
  font-size: medium;
  text-transform: uppercase;
}
/*centrado */
.Style-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Style-center.style-h1 h1{
  border-bottom: 1px solid #000;
}



/*animacion input cambio de contraseña*/
.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
  padding: 15px 0;
  margin-right: 20px;
}

.input {
  width: 100%;
  max-width: 220px;
  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
  
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #000;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/*contraseña actualizada correctamente*/
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}


/*cambio de contraseña*/
.loading {
  width: 124px;
  height: 124px;
}

.loading svg {
  display: block;
  width: 100%;
  height: 100%;
}

.circle2 {
  transform: rotate(-90deg);
  transform-origin: center;
  stroke-dasharray: 380;
  stroke-dashoffset: 380;
  animation: circle_4 2s ease-in-out forwards;
}

.check {
  stroke-dasharray: 45;
  stroke-dashoffset: 45;
  animation: check_4 0.2s 2s ease-in-out forwards;
}

@keyframes circle_4 {
  0% {
    stroke-dashoffset: 380;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes check_4 {
  0% {
    stroke-dashoffset: 45;
  }

  100% {
    stroke-dashoffset: 90;
  }
}

/*animacion vista espera*/
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #000;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

/* Estilos para el modal de fondo */
.desenfocado {
  filter: blur(5px); /* Aplicar un desenfoque al contenido */
}

