html, body {
  height: 100%;
}
app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

nz-layout {
  height: 100%;
  overflow-y: auto;
}


nz-content {
  flex-grow: 1;
  overflow-y: auto; 
}

nz-sider {
  height: 100%;
}

.logo-sumecar{
  margin-top: 6vh;
  text-align: center;
}
 .logo-waiting{
  margin-top: -20px;
 } 
.border-line{
    border: 1px solid #F0F0F0;
}
.content-side{
  margin-top: 6vh;
}
