html, body {
  height: 100%;
}
app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

nz-layout {
  height: 100%;
  overflow-y: auto;
}


nz-content {
  flex-grow: 1;
  overflow-y: auto; 
}

nz-sider {
  
  height: 100%;
}

.logo-sumecar{
  margin-top: 6vh;
  text-align: center;
}
 .logo-waiting{
  margin-top: 100px;
  margin-left: 20px;
  text-align: center;
 } 
.border-line{
    border: 1px solid #F0F0F0;
}
.content-side{
  margin-top: 6vh;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
  color: #797979;
}

a{
  font-family: 'Manrope', sans-serif;
}

.style-userProfile{
  margin-top: auto;
  background: #e6f7ff;
  font-family: 'Manrope', sans-serif;
  white-space: nowrap; /* Evita saltos de línea */
  overflow: hidden; /* Oculta el contenido desbordante */
  text-overflow: ellipsis;
}

.style-userProfile p{
  color: #369FFF;
}
.flex{
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
}
.profile-image {
  width: 50px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 50px; /* Ajusta el tamaño de la imagen según tus necesidades */
  border-radius: 20%; /* Hace que la imagen sea redonda */
  overflow: hidden; /* Oculta el contenido desbordante (por si la imagen no es cuadrada) */
  margin-left: 5vh; /* Agrega espacio entre la imagen y los detalles del usuario */
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el tamaño de la imagen para llenar el círculo */
}

.contentProfile-1{
  width: calc(60% - 0.5px) !important;
}