<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Angular App</title>
    <!-- Aquí puedes incluir los enlaces a los archivos CSS y JavaScript necesarios -->
</head>
<body>
    <nz-layout>
        <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
          <div class="logo-sumecar">
            <img src="https://sumecar.com/img/SumecarLogo.png" alt="No se pudo cargar la imagen" width ="200px">
          </div>
          
          <ul nz-menu nzTheme="dark" nzMode="inline" class="style-home">

            <!--Dashboard-->
            <li nz-menu-item nzIcon="home">
              <a routerLink="/menu/dashboard">
                <span nz-icon nzType="home" nzTheme="outline"></span>
                Home
              </a>
            </li>

            <!--Productos-->
            <li nz-submenu nzTitle="Productos" nzIcon="disconnect">
              <ul>
                <!--Agregar productos-->
                <li nz-menu-item  nzIcon="plus-circle">
                  <a routerLink="/menu/productos">
                    <span nz-icon nzType="plus-circle" nzTheme="outline" nzTitle="Productos"></span>
                    Add products
                  </a>
                </li>
                <!--Confirmar productos-->
                <li nz-menu-item  nzIcon="plus-circle" nzTitle="Productos">
                  <a routerLink="/menu/view-products">
                    <span nz-icon nzType="check-circle" nzTheme="outline"></span>
                    Confirm Products
                  </a>
                </li>
                <!--Peticiones-->
                <ul nz-submenu nzTitle="Peticiones" nzIcon="question-circle">
                  <!--Agregar peticion-->
                  <li nz-menu-item  nzIcon="plus-circle">
                    <a routerLink="/menu/add-information">
                      <span nz-icon nzType="plus" nzTheme="outline"></span>
                      Add peticion
                    </a>
                  </li>
                  <!--peticiones Pendientes-->
                  <li nz-menu-item  nzIcon="plus-circle">
                    <a routerLink="/menu/mensajes-pendientes">
                      <span nz-icon nzType="sync" nzTheme="outline"></span>
                      Pendientes
                    </a>
                  </li>
                  <!--Historial de peticiones-->
                  <li nz-menu-item  nzIcon="plus-circle">
                    <a routerLink="/menu/historial-mensajes">
                      <span nz-icon nzType="solution" nzTheme="outline"></span>
                      Historial
                    </a>
                  </li>
                </ul>  
              </ul>
            </li>

            <!--Usuarios-->
            <li nz-submenu nzTitle="User" nzIcon="user">
                <ul>
                  <!--Registro de usuarios-->
                  <li nz-menu-item *ngIf="esAdmin()"><a routerLink="/menu/register">Registro de usuarios</a></li>
                  <!--Cambiar contraseña de usuario-->
                  <li nz-menu-item ><a routerLink="/menu/cambiar-contrasena">Cambiar Contraseña</a></li>
                </ul>
            </li>
          </ul>
        </nz-sider>
        <nz-layout>
          <nz-header>
            <span
              class="trigger"
              nz-icon
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              (click)="isCollapsed = !isCollapsed"
            ></span>
          </nz-header>
          <nz-content>
            <nz-breadcrumb>
              <nz-breadcrumb-item>User</nz-breadcrumb-item>
              <ng-container *ngFor="let breadcrumb of breadcrumbs">
                <nz-breadcrumb-item>{{ breadcrumb }}</nz-breadcrumb-item>
              </ng-container>
              <nz-breadcrumb-item>
                <router-outlet></router-outlet> <!-- Componentes se cargarán aquí -->
              </nz-breadcrumb-item>
            </nz-breadcrumb>
          </nz-content>
          <nz-footer>Ant Design ©2020 Implementado por Angular</nz-footer>
        </nz-layout>
      </nz-layout>
</body>
</html>

    
