<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&display=swap"
  rel="stylesheet"
/>

<mat-card >
  <mat-card-content>
    <div class="content">
      <div class="xd">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input
            (keyup)="applyFilter($event)"
            type="text"
            nz-input
            placeholder="Search"
            #input
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>

        <!--<mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
        </mat-form-field>-->
      </div>

      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 demo-table rounded-table"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="Identificacion">
          <th mat-header-cell *matHeaderCellDef>Identificacion</th>
          <td mat-cell *matCellDef="let element" class="custom-data">
            {{ element.identificacion }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element" class="custom-data">
            {{ element.nombre }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Telefono">
          <th mat-header-cell *matHeaderCellDef>Telefono</th>
          <td mat-cell *matCellDef="let element" class="custom-data">
            {{ element.telefono }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Correo">
          <th mat-header-cell *matHeaderCellDef>Correo</th>
          <td mat-cell *matCellDef="let element" class="custom-data">
            {{ element.correo }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Rol">
          <th mat-header-cell *matHeaderCellDef>Rol</th>
          <td mat-cell *matCellDef="let element" class="custom-data">
            {{ element.rol }}
          </td>
        </ng-container>
        
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>


