<!--<form [formGroup]="loginForm" >
<div class="login-container">
  <div class="loader">
    <div class="box box-1">
      <div class="side-left"></div>
      <div class="side-right"></div>
      <div class="side-top"></div>
    </div>
    <div class="box box-2">
      <div class="side-left"></div>
      <div class="side-right"></div>
      <div class="side-top"></div>
    </div>
    <div class="box box-3">
      <div class="side-left"></div>
      <div class="side-right"></div>
      <div class="side-top"></div>
    </div>
    <div class="box box-4">
      <div class="side-left"></div>
      <div class="side-right"></div>
      <div class="side-top"></div>
    </div>
  </div>

  <div class="container">
    <div class="card">
        <a class="singup">Sign Up</a>
        
        <div class="inputBox1">
            <input type="text" formControlName="usuario" type="text" required="required">
            <span>Username</span>
        </div>

        <div class="inputBox1">
            <input type="password" formControlName="contrasena"   required="required">
            <span>Password</span>
        </div>

        <div class="form-select">
          <mat-form-field >
            <mat-label> Seleccione:</mat-label>
            <mat-select formControlName="rol" (click)="toggleSelect()">
              <mat-option *ngFor="let users of users" [value]="users.value">
                {{users.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button type="submit" class="cta" (click)="onSubmit()">Iniciar Sesion</button>
        <button>
          <svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="24" width="24" viewBox="0 0 24 24">
            <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon>
          </svg>
          Click me
        </button>
        <button routerLink="/register" type="submit" class="cta cta2" >Registrarse</button>
        
        <div class="style-a">
          <a (click)="EventoEnviar()" routerLink="/cambio-contrasena" >¿Problemas con tu contraseña?</a>
        </div>
        
      </div>
    </div>
  </div>
</form> 
<div appLocalStorageDirective [appLocalStorageKey]="'userData'" [appLocalStorageValue]="userData"></div>-->


<div class="login">
  <div class="overlap-wrapper">
    <div class="overlap">
      <div class="rectangle"></div>
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>-->
      <img class="vector" src="animation_lnj5hiyy.gif" alt ="xd">
      
      <!--<img class="vector" src="https://c.animaapp.com/RNzTRMLE/img/vector-126.svg" />-->
      <img class="group" src="https://c.animaapp.com/RNzTRMLE/img/group-2014.svg" />
      <div class="div">
        
      </div>
      <div class="text">
        
        <div class="text-wrapper">Si ya eres miembro, inicia sesión facilmente :)</div>
        
        <!--usuario-->
        <div class="inputContainer style-user text-wrapper">
          <input required="required" id="inputField" placeholder="Username" type="text">
          <label class="usernameLabel" for="inputField">Username</label>
          <svg viewBox="0 0 448 512" class="userIcon"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"></path></svg>
        </div>
        <!--<div class="group text-wrapper">
          <input required="" type="text" class="input">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Name</label>
        </div>-->
        <p class="i-don-t-have-an">
          <span class="span">I don’t have an account ? </span> <span class="text-wrapper-3">Sign up</span>
        </p>
      </div>
      <div class="logo"><div class="text-wrapper-4">Sing In</div></div>
      
      
      <div class="password">
        <div class="inputContainer style-password text-wrapper">
          <input required="required" id="inputField" placeholder="Username" type="password">
          <label class="usernameLabel" for="inputField">Username</label>
          <span nz-icon nzType="lock" nzTheme="outline"></span>
          <svg viewBox="0 0 448 912" class="userIcon">
            

            <path d="M224 0c-123.5 0-224 100.5-224 224v208c0 44.1 35.9 80 80 80h288c44.1 0 80-35.9 80-80V224C448 100.5 347.5 0 224 0zm-45.7 304H178.3c-98.5 0-178.3 79.8-178.3 178.3 0 16.4 13.3 29.7 29.7 29.7h388.6c16.4 0 29.7-13.3 29.7-29.7 0-98.5-79.8-178.3-178.3-178.3zm141.7 168h-96a8 8 0 0 0-8 8v64a8 8 0 0 0 8 8h96a8 8 0 0 0 8-8v-64a8 8 0 0 0-8-8zm-24-40a8 8 0 0 0-8-8h-72a8 8 0 0 0-8 8v104a8 8 0 0 0 8 8h72a8 8 0 0 0 8-8z"/>
          </svg>
        </div>
        
        <div class="text-wrapper-8">Forgot Password ?</div>
      </div>
      <button class="button">
        <div class="group-3">
          <div class="sing-in">SING IN</div>
          <img
            class="ant-design-swap-left"
            src="https://c.animaapp.com/RNzTRMLE/img/ant-design-swap-left-outlined.svg"
          />
        </div>
      </button>
      <img class="img" src="https://c.animaapp.com/RNzTRMLE/img/rectangle-1041.png" />
    </div>
  </div>
</div>
    


  