<form [formGroup]="loginForm" >
<div class="login-container">
  <div class="loader">
    <div class="box box-1">
      <div class="side-left"></div>
      <div class="side-right"></div>
      <div class="side-top"></div>
    </div>
    <div class="box box-2">
      <div class="side-left"></div>
      <div class="side-right"></div>
      <div class="side-top"></div>
    </div>
    <div class="box box-3">
      <div class="side-left"></div>
      <div class="side-right"></div>
      <div class="side-top"></div>
    </div>
    <div class="box box-4">
      <div class="side-left"></div>
      <div class="side-right"></div>
      <div class="side-top"></div>
    </div>
  </div>

  <div class="container">
    <div class="card">
        <a class="singup">Sign Up</a>
        
        <div class="inputBox1">
            <input type="text" formControlName="usuario" type="text" required="required">
            <span>Username</span>
        </div>

        <div class="inputBox1">
            <input type="password" formControlName="contrasena"   required="required">
            <span>Password</span>
        </div>

        <div class="form-select">
          <mat-form-field >
            <mat-label> Seleccione:</mat-label>
            <mat-select formControlName="rol" (click)="toggleSelect()">
              <mat-option *ngFor="let users of users" [value]="users.value">
                {{users.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button type="submit" class="cta" (click)="onSubmit()">Iniciar Sesion</button>
        <button routerLink="/register" type="submit" class="cta cta2" >Registrarse</button>
        
        <div class="style-a">
          <a (click)="EventoEnviar()" routerLink="/cambio-contrasena" >¿Problemas con tu contraseña?</a>
        </div>
        
      </div>
    </div>
  </div>
</form> 
<div appLocalStorageDirective [appLocalStorageKey]="'userData'" [appLocalStorageValue]="userData"></div>


  