/* Estilos para el formulario */
/* En SuccesModalComponent.css */

/*.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eaeaea;
  }
  
  .animation-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
  }
  
  .animation-container img {
    max-width: 100%;
    height: auto;
    animation: bounce 2s infinite;
  }
  
  .login-form {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    background-color: #EFEFEF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 120px;
    display: flex; /* Añade esto para usar Flexbox en el formulario */
/*flex-direction: column; /* Añade esto para apilar elementos verticalmente */
/*justify-content: center; /* Centra verticalmente los elementos */
/*align-items: center;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'TuFuentePersonalizada', sans-serif; /* Cambia 'TuFuentePersonalizada' por el nombre de tu fuente */
/*}*/

/*.form-group {
    margin-bottom: 15px;
    padding-right: 30px;
  }
  
  label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: 'TuFuentePersonalizada', sans-serif; /* Cambia 'TuFuentePersonalizada' por el nombre de tu fuente */

/*}
  
  .btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 5%;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

  /* Estilos para la fortaleza de la contraseña */
/*.password-strength-indicator {
    text-align: center;
    margin-top: 10px;
  }
  
  .weak {
    color: red;
  }
  
  .medium {
    color: orange;
  }
  
  .strong {
    color: green;
  }

  .form {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
    margin-left: 100px;
   }
   .form-select{
    margin-left: 0px;
    padding-right: 50px;
   }
   

/*animacion de cajas*/
/*.loader {
  scale: 3;
  height: 50px;
  width: 40px;
}

.box {
  position: relative;
  opacity: 0;
  left: 10px;
}

.side-left {
  position: absolute;
  background-color: #286cb5;
  width: 19px;
  height: 5px;
  transform: skew(0deg, -25deg);
  top: 14px;
  left: 10px;
}

.side-right {
  position: absolute;
  background-color: #2f85e0;
  width: 19px;
  height: 5px;
  transform: skew(0deg, 25deg);
  top: 14px;
  left: -9px;
}

.side-top {
  position: absolute;
  background-color: #5fa8f5;
  width: 20px;
  height: 20px;
  rotate: 45deg;
  transform: skew(-20deg, -20deg);
}

.box-1 {
  animation: from-left 4s infinite;
}

.box-2 {
  animation: from-right 4s infinite;
  animation-delay: 1s;
}

.box-3 {
  animation: from-left 4s infinite;
  animation-delay: 2s;
}

.box-4 {
  animation: from-right 4s infinite;
  animation-delay: 3s;
}

@keyframes from-left {
  0% {
    z-index: 20;
    opacity: 0;
    translate: -20px -6px;
  }

  20% {
    z-index: 10;
    opacity: 1;
    translate: 0px 0px;
  }

  40% {
    z-index: 9;
    translate: 0px 4px;
  }

  60% {
    z-index: 8;
    translate: 0px 8px;
  }

  80% {
    z-index: 7;
    opacity: 1;
    translate: 0px 12px;
  }

  100% {
    z-index: 5;
    translate: 0px 30px;
    opacity: 0;
  }
}

@keyframes from-right {
  0% {
    z-index: 20;
    opacity: 0;
    translate: 20px -6px;
  }

  20% {
    z-index: 10;
    opacity: 1;
    translate: 0px 0px;
  }

  40% {
    z-index: 9;
    translate: 0px 4px;
  }

  60% {
    z-index: 8;
    translate: 0px 8px;
  }

  80% {
    z-index: 7;
    opacity: 1;
    translate: 0px 12px;
  }

  100% {
    z-index: 5;
    translate: 0px 30px;
    opacity: 0;
  }
}

.cta{
  margin-top: -20px;
}

.cta2{
  margin-bottom: 50px;
  padding-left: 40px;
  padding-right: 50px;
}

.style-a {
  text-align: center; /* Centra el contenido horizontalmente */
/*margin-bottom: 40px; /* Añade un margen superior para separarlo de otros elementos */
/*margin-top: -50px;
}

/* Estilo para el enlace */
/*.style-a a {
  text-decoration: none; /* Elimina la subrayado predeterminado del enlace */
/*background-color: #e3e3e3; /* Color de fondo del enlace */
/*color: #000; /* Color del texto del enlace */
/*padding: 10px 20px; /* Espaciado interno del enlace (arriba/abajo y izquierda/derecha) */
/*border-radius: 5px; /* Borde redondeado */
/*transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */

/* Cambiar el color de fondo al pasar el mouse sobre el enlace */
/*&:hover {
    background-color: #e3e3e3;
  }
}
select {
  padding: 10px;
  animation: bounce 2s infinite;
}

.singup {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-top: 1.5em;
}*/

/*.inputBox,
.inputBox1 {
  position: relative;
  width: 250px;
  margin-right: 25px;
}

.inputBox input,
.inputBox1 input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #286cb5;
  border-bottom: 2px solid #286cb5;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
  
  
}

.inputBox span,
.inputBox1 span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox1 input:valid~span,
.inputBox1 input:focus~span {
  transform: translateX(156px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #286cb5;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox1 input:valid,
.inputBox1 input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 3em;
}

.enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #ffffff;
  background-color: #ff5f5f;
  border-style: none;
  border-radius: 8px;
  padding: 16px 24px;
  transform: scale(1);
  transition: 0.2s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button:hover {
  background-color: #ff3b3b;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: scale(0.95);
  box-shadow: none;
}*/

/*.success-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Ajusta esto según sea necesario */
/*background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}*/

/*
.login {
  background-color: #ffede1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login .overlap-wrapper {
  background-color: #ffede1;
  overflow: hidden;
  /*width: 1920px;
  height: 1080px;*/
/*}*/

/*.login .overlap {
  position: relative;
  width: 2813px;
  height: 2003px;
}

.login .rectangle {
  top: 0;
  left: 0;
  background-color: #ffffff;
  position: absolute;
  width: 1165px;
  height: 1080px;
}

.login .vector {
  position: absolute;
  width: 1920px;
  height: 1px;
  top: 1007px;
  left: 0;
}

.login .group {
  position: absolute;
  width: 737px;
  height: 749px;
  top: 270px;
  left: 1017px;
}

.login .div {
  position: absolute;
  width: 598px;
  height: 747px;
  top: 167px;
  left: 244px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 19px 40px #0000000d;
}

.login .text {
  position: absolute;
  width: 387px;
  height: 468px;
  top: 354px;
  left: 305px;
}

.login .text-wrapper {
  position: absolute;
  top: 0;
  left: 5px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: 22px;
  white-space: nowrap;
}

.login .text-wrapper-2 {
  position: absolute;
  top: 32px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 56px;
  letter-spacing: 0;
  line-height: normal;
}

.login .i-don-t-have-an {
  position: absolute;
  top: 446px;
  left: 99px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: 22px;
  white-space: nowrap;
}

.login .span {
  color: #00000033;
}

.login .text-wrapper-3 {
  color: #56c1ff;
}

.login .logo {
  position: absolute;
  width: 183px;
  height: 54px;
  top: 240px;
  left: 305px;
}

.login .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #56c1ff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.login .email {
  position: absolute;
  width: 478px;
  height: 77px;
  top: 500px;
  left: 304px;
}

.login .group-2 {
  position: relative;
  width: 482px;
  height: 77px;
}

.login .overlap-group {
  position: absolute;
  width: 478px;
  height: 46px;
  top: 31px;
  left: 0;
  background-color: #ceedff;
  border-radius: 4px;
}

.login .text-wrapper-5 {
  position: absolute;
  top: 13px;
  left: 10px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.login .text-wrapper-6 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.login .password {
  position: absolute;
  width: 484px;
  height: 77px;
  top: 597px;
  left: 304px;
}

.login .text-wrapper-7 {
  position: absolute;
  height: 21px;
  top: 13px;
  left: 10px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.login .text-wrapper-8 {
  position: absolute;
  top: -10px;
  left: 235px;
  opacity: 0.5;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.login .button .style-input{
  position: absolute;
  width: 150px;
  height: 46px;
  top: 714px;
  left: 468px;
  background-color: #56c1ff;
  border-radius: 23px;
  all: unset;
  box-sizing: border-box;
}

.login .group-3 {
  position: relative;
  width: 101px;
  height: 24px;
  top: 11px;
  left: 22px;
}

.login .sing-in {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.login .ant-design-swap-left {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 75px;
}

.login .img {
  top: 923px;
  left: 1648px;
  position: absolute;
  width: 1165px;
  height: 1080px;
}*/

/*.content-principal{
  margin-top: 150px;
  margin-left: 400px;
  margin-right: 200px;
  width: 60%;
  height: 700px;
  border-radius: 20px;
  background: #fdfdfd;
}*/

html,
body {
  background-color: white;
  background-color: #fff;
}

b {
  color: #56c1ff;
}
mat-form-field {
  width: 44vh;
  border-radius: 20%;
}
.login {
  background-color: #ffede1;
  display: flex;
  justify-content: center;
  height: 100%;
}
.content-principal {
  /* margin-top: 150px;
  margin-left: 100px;
  margin-right: 200px; */
  /* margin-top: 50%;
  margin-left: 50%;
  margin-right: 50%; */
  width: 100%;
  /* height: 70vh; */
  height: auto;
  border-radius: 20px;
  background: #fdfdfd;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

body {
  position: absolute; /* Posiciona el formulario de forma absoluta */
  left: 50%; /* Mueve el formulario al 50% de la izquierda del elemento padre */
  top: 50%; /* Mueve el formulario al 50% de la parte superior del elemento padre */
  transform: translate(
    -50%,
    -50%
  ); /* Desplaza el formulario hacia atrás en un 50% de su propio ancho y alto */
}

.style-p2 {
  color: #56c1ff;
  margin-top: 25px;
}
.content-1 {
  /* height: 800px; */

  height: auto;
  width: 100%;
}

.content-2 {
  margin-bottom: -50px;
  height: auto;
  /* height: 100%; */
}

.form-select {
  margin-left: 0px;
  padding-right: 50px;
  margin-top: 25px;
  margin-left: 3vh;
}
.input-general {
  margin-bottom: -50px;
}
/*.card {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: #fdfdfd;
 }
 .card2{
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 50px;
 }*/
/*estilos unicos*/
/*estilos de los input*/

.card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  width: 500px;
  flex-direction: column;
  gap: 35px;
  background-color: #cff1ff;
  border-radius: 5%;
  margin-right: 50px;
}
.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.style-user {
  margin-top: 150px;
  margin-bottom: 25px;
  margin-left: 3vh;
}
.style-password {
  margin-top: 35px;
  margin-left: 3vh;
}
.style-logo {
  margin-top: -200px;
  margin-left: 8vh;
}
.style-sign {
  color: #56c1ff;
  font-family: "Poppins", Helvetica;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 20%;
  margin-bottom: -25px;
}
.style-p {
  margin-bottom: -65px;
  margin-top: 55px;
  font-family: Poppins-SemiBold, Helvetica;
  font-size: 15px;
}
.style-forgot {
  margin-right: 50px;
  margin-bottom: -30px;
  margin-left: 245px;
  color: #8a8a8a;
}
.style-a {
  color: #8a8a8a;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  /* margin-left: 0px; */
  float: right;
}
#inputField {
  border: 2px solid #8a8a8a;
  background-color: transparent;
  border-radius: 10px;
  padding: 12px 15px;
  color: #8a8a8a;
  font-weight: 500;
  outline: none;
  caret-color: rgb(155, 78, 255);
  transition-duration: 0.3s;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}

#selectField {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  padding: 12px 15px;
  color: black;
  font-weight: 500;
  outline: none;
  caret-color: rgb(155, 78, 255);
  transition-duration: 0.3s;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}
.userIcon {
  position: absolute;
  fill: #56c1ff;
  width: 12px;
  top: -23px;
  left: -15px;
  opacity: 0;
  transition: 0.2s linear;
}

.usernameLabel {
  position: absolute;
  top: -25px;
  left: 5px;
  color: #56c1ff;
  font-size: 14px;
  font-weight: 400;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  overflow: hidden;
  transition: 0.2s linear;
  opacity: 0;
}

#inputField:focus ~ .usernameLabel,
#inputField:valid ~ .usernameLabel {
  transform: translateX(20px);
  opacity: 1;
}

#inputField:focus ~ .userIcon,
#inputField:valid ~ .userIcon {
  transform: translateX(20px);
  opacity: 1;
}

#inputField:focus,
#inputField:valid {
  border: 2px solid #56c1ff;
  background-color: white;
  transition-duration: 0.3s;
}

.button {
  position: absolute;
  width: 150px;
  height: 46px;
  top: 714px;
  left: 468px;
  background-color: #56c1ff;
  border-radius: 23px;
  all: unset;
  box-sizing: border-box;
}

.group-3 {
  position: relative;
  width: 101px;
  height: 24px;
  top: 11px;
  left: 22px;
}
.sing-in {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ant-design-swap-left {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 75px;
}

.box {
  width: 30%;
  height: 46px;
  margin-top: 50px;
  margin-left: 64%;
  border-radius: 6%;
  background-color: #56c1ff;
}

.box .button {
  position: fixed;
  width: 150px;
  height: 46px;
  top: 0;
  left: 0;
  border-radius: 23px;
  all: unset;
  border-radius: 30%;
  box-sizing: border-box;
  cursor: pointer;
}

.box .group {
  position: relative;
  width: 101px;
  height: 24px;
  top: 11px;
  left: 22px;
}

.box .sing-in {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.box .ant-design-swap-left {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 75px;
}

@media (max-width: 620.633px) and (max-height: 1170.33px) {
  /* Oculta la imagen de LottieFiles */
  .card2 {
    display: none;
  }

  /* Centra el formulario en el contenedor */
  .content-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .inputContainer {
    width: 80%; /* Ajusta el ancho del formulario según tu preferencia */
    margin-top: 10px; /* Añade margen superior para separar los elementos */
  }

  .style-forgot {
    text-align: center; /* Centra el enlace de "forgot Password" */
    margin-top: 10px; /* Añade margen superior para separar del input de contraseña */
    margin-right: 0; /* Elimina el margen derecho para centrar el enlace */
    margin-left: 0; /* Elimina el margen izquierdo para centrar el enlace */
  }

  .style-a {
    text-align: center; /* Centra el enlace "Sign up" */
    margin-top: 10px; /* Añade margen superior para separar del botón */
  }

  .button {
    width: 100%;
    margin: 10px 0; /* Añade margen superior e inferior para separar el botón */
  }
}
