<!-- Modal para succesful o failed -->
<!--alert succesfull para la creacion de usuario-->
<div [ngClass]="getSuccesAlertClasses()" id="alert-border-3"
  class="fixed bottom-0 right-0 w-1/3 z-50 flex items-center p-4 mb-4 text-green-800 border-t-4 border-green-300 bg-green-50 dark:text-green-400 dark:bg-gray-800 dark:border-green-800 rounded mr-5"
  role="alert">
  <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
    viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
  <div class="ms-3 text-sm font-medium">
    <span class="font-bold"> Carga exitosa!</span> Cliente creado con exito :)
  </div>
  <button type="button"
    class="ms-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700"
    data-dismiss-target="#alert-border-3" aria-label="Close">
    <span class="sr-only">Dismiss</span>
    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
    </svg>
  </button>
</div>
<!--danger alert para la creacion de usuario-->
<div [ngClass]="getDangerAlertClasses()" id="danger-alert"
  class=" fixed bottom-0 right-0 w-1/3 z-50 flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg mr-9 bg-red-50 dark:bg-gray-800 dark:text-red-400"
  role="alert">
  <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
    fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
  <span class="sr-only">Info</span>
  <div>
    <span class="font-bold">Registro Incorrecto :( <br> </span> {{ this.errorMessage?.Message}}
  </div>
  <button type="button"
    class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700"
    data-dismiss-target="#danger-alert" aria-label="Close">
    <span class="sr-only">Dismiss</span>
    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
    </svg>
  </button>
</div>

<section class="bg-gray-100 min-h-screen flex items-center
  justify-center">
  <!-- LOTTIE -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
  <!--Contenido del login-->
  <div class="flex rounded-2xl shadow-lg max-w-3xl p-5" style="background-color: #fff; border: 1px solid e7e7e7;">
    <!--FORMULARIO-->
    <div class="md:w-1/2 px-16">
      <!--<x-validation-errors class="mb-4" />-->
      <h2 class="font-bold text-2xl text-blue-500">Login</h2>
      <span class="text-sm mt-4"> Si ya eres miembro, inicia sesión fácilmente.</span>
      <form [formGroup]="loginForm" class="flex flex-col gap-4">
        <input formControlName="usuario" class="p-2 mt-8 rounded-xl text-sm  border-gray-400" type="email" name="email"
          placeholder="Usuario" required autofocus autocomplete="username">

        <div class="relative flex items-center">
          <input formControlName="contrasena" class="p-2 pl-8 lg:pl-2 pr-14 rounded-xl border-gray-400 text-sm"
            [type]="mostrarContrasena ? 'text' : 'password'" name="password" placeholder="********" required
            autocomplete="current-password">

          <button class="absolute mr-2 right-0 top-0 bottom-0 px-3 flex items-center justify-center focus:outline-none"
            (click)="mostrar_contrasena()">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
              class="w-6 h-6 text-gray-400 transition-colors duration-300 hover:text-gray-500">
              <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
              <path fill-rule="evenodd"
                d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
                clip-rule="evenodd" />
            </svg>

          </button>
        </div>

        <div class="flex items-center justify-between" style="margin-bottom: -10px;">
          <label for="password" class=" text-white">Password</label>
          <a class="text-sm text-gray-500 dark:text-gray-400 hover:scale-105 duration-300">Olvido su
            contraseña?</a>
        </div>

        <select formControlName="rol" (click)="toggleSelect()" id="countries"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          @for (users of users; track users) {
          <option [value]="users.value">{{ users.viewValue }}</option>
          }
        </select>
        <!-- captcha -->
        <div>
          <form #form="ngForm">
            <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" required
              [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
            <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
              <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
            </div>

            <!-- <div class="col-sm-12 mb-2">
                  <button type="button" class="btn btn-sm btn-primary" (click)="send(form)">Send</button>
              </div> -->
          </form>
        </div>


        <button (click)="onSubmit()" [disabled]="cargando"
          class="bg-blue-500 rounded-xl text-white py-2 hover:scale-105 duration-300">
          @if(!cargando){
          <span>Entrar</span>
          }
          @if(cargando){
          <span class="inline-flex items-center">
            <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin"
              viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="#E5E7EB" />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentColor" />
            </svg>
            Loading...
          </span>
          }
        </button>
        <!--link para registrar nuevo cliente-->
        <span class="text-sm text-gray-500 dark:text-gray-400 hover:scale-105 duration-300 ml-2">¿No tienes una cuenta?
          <a data-drawer-target="drawer-bottom-example" data-drawer-show="drawer-bottom-example"
            data-drawer-placement="bottom" aria-controls="drawer-bottom-example" class="text-blue-500"> Registrate </a>
        </span>

      </form>
      <div class=" mt-8 grid grid-cols-3 items-center text-gray-400">
        <hr class="border-gray-400 ">
        <p class="text-center">O</p>
        <hr class="border-gray-400">
      </div>

      <!-- Registrate -->

      <button type="button" (click)="loginWithGoogle()"
        class="text-gray-900 bg-[#fefefe] hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center hover:scale-105 duration-300 me-2 mb-2 w-full">
        <img src="https://i.postimg.cc/qMZMnStM/buscar-1.png" class="w-4 h-4" alt="">
        <span class="ml-6">Inicia sesion con google</span>
      </button>

      <button type="button"
        class="text-white bg-[#3b5998] hover:bg-[#3b5998]/90 focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center hover:scale-105 duration-300 me-2 mb-2 w-full">
        <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
          viewBox="0 0 8 19">
          <path fill-rule="evenodd"
            d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
            clip-rule="evenodd" />
        </svg>
        <span class="ml-1"> Inicia sesion con facebook</span>
      </button>

    </div>
    <!--IMAGEN -->
    <div class="w-1/2 p-5 radius md:block hidden max-h-full">
      <div class="rounded-2xl flex justify-center items-center h-full"
        style="background-color: rgb(180, 206, 255); border: 1px solid #e7e7e7;">
        <div id="image_login">
          <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
            type="module"></script>
          <iframe src="https://lottie.host/embed/39c8e65f-9c8c-4ae9-a046-dc3febcbeb12/eKYeuv22gF.json"
            style="width: 300px; height: 300px"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal para registrarse -->
<div [ngClass]="getRegister()" id="drawer-bottom-example"
  class="fixed bottom-0 left-0 right-0 z-40 w-full p-4 bg-white dark:bg-gray-800 ">
  <button (click)="cerrarRegister()" type="button" data-drawer-hide="drawer-bottom-example"
    aria-controls="drawer-bottom-example"
    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-12 h-12 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
    </svg>
    <span class="sr-only">Close menu</span>
  </button>
  <h2 class=" text-lg font-normal text-gray-500 md:text-xl dark:text-gray-400 text-center">
    REGISTRO DE USUARIOS :D
  </h2>
  <div style="border-bottom: 1px double #f2f2f2;"></div>
  <div class="grid grid-cols2">
    <div class="flex">
      <div class="w-2/5 p-5 radius md:block hidden max-h-95">
        <div class="rounded-2xl flex justify-center items-center h-full"
          style="background-color: rgba(248, 248, 248, 0.753); border: 1px solid #e7e7e7;">
          <div id="image_login">
            <script src="https://lottie.host/51f2713d-7421-4f43-a21a-a2f46ddd3470/fbvJfJK2t7.json"></script>

            <iframe src="https://lottie.host/embed/51f2713d-7421-4f43-a21a-a2f46ddd3470/fbvJfJK2t7.json"
              style="width: 400px; height: 500px"></iframe>
          </div>
        </div>
      </div>

      <div class=" p-5 radius max-h-full">
        <div class="max-h-96 overflow-y-auto style-scroll">
          <form [formGroup]="registrationForm" class="mb-6">

            <div class="grid grid-cols-3 gap-4" style="padding: 0 0 0 5%;">

              <!--identificacion-->

              <div [ngClass]="{'mb-5': registrationForm.controls['Identificacion'].valid}">
                <label for="subject"
                  [ngClass]="{'text-gray-900 dark:text-white': registrationForm.controls['Identificacion'].pristine, 'text-red-700 dark:text-red-500': registrationForm.controls['Identificacion'].invalid && !registrationForm.controls['Identificacion'].pristine, 'text-green-700 dark:text-green-500': registrationForm.controls['Identificacion'].valid}"
                  class="block mb-2 text-sm font-medium">Identificacion</label>
                <input type="text" id="subject" formControlName="Identificacion"
                  [ngClass]="{'bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': registrationForm.controls['Identificacion'].pristine, 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400': registrationForm.controls['Identificacion'].invalid && !registrationForm.controls['Identificacion'].pristine, 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400': registrationForm.controls['Identificacion'].valid}"
                  class="text-sm rounded-lg block w-full p-2.5" placeholder="1234567890" required>
                <p class="mt-2 text-xs text-center"
                  [ngClass]="{'text-gray-600 dark:text-gray-500': registrationForm.controls['Identificacion'].pristine, 'text-red-600 dark:text-red-500': registrationForm.controls['Identificacion'].invalid && !registrationForm.controls['Identificacion'].pristine, 'text-green-600 dark:text-green-500': registrationForm.controls['Identificacion'].valid}">
                  <span class="font-medium">{{registrationForm.controls['Identificacion'].pristine ? 'Por favor, ' +
                    'introduce tu identificación.' : registrationForm.controls['Identificacion'].invalid ? 'Oops!' :
                    '¡Excelente! '}}</span> {{registrationForm.controls['Identificacion'].pristine ? '' :
                  registrationForm.controls['Identificacion'].invalid ? 'Identificacion incorrecta :(' :
                  'Identificación correcta :)'}}
                </p>
              </div>
              <!--nombre-->
              <div [ngClass]="{'mb-5': registrationForm.controls['Nombre'].valid}">
                <label for="subject"
                  [ngClass]="{'text-gray-900 dark:text-white': registrationForm.controls['Nombre'].pristine, 'text-red-700 dark:text-red-500': registrationForm.controls['Nombre'].invalid && !registrationForm.controls['Nombre'].pristine, 'text-green-700 dark:text-green-500': registrationForm.controls['Nombre'].valid}"
                  class="block mb-2 text-sm font-medium">Nombre</label>
                <input type="text" id="subject" formControlName="Nombre"
                  [ngClass]="{'bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': registrationForm.controls['Nombre'].pristine, 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400': registrationForm.controls['Nombre'].invalid && !registrationForm.controls['Nombre'].pristine, 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400': registrationForm.controls['Nombre'].valid}"
                  class="text-sm rounded-lg block w-full p-2.5" placeholder="Example Name" required>
                <p class="mt-2 text-xs text-center"
                  [ngClass]="{'text-gray-600 dark:text-gray-500': registrationForm.controls['Nombre'].pristine, 'text-red-600 dark:text-red-500': registrationForm.controls['Nombre'].invalid && !registrationForm.controls['Nombre'].pristine, 'text-green-600 dark:text-green-500': registrationForm.controls['Nombre'].valid}">
                  <span class="font-medium">{{registrationForm.controls['Nombre'].pristine ? 'Por favor, introduce tu'
                    +
                    ' nombre.' : registrationForm.controls['Nombre'].invalid ? 'Oops!' : '¡Excelente!'}}</span>
                  {{registrationForm.controls['Nombre'].pristine ? '' : registrationForm.controls['Nombre'].invalid ?
                  'Nombre incorrecto :(' : 'Nombre correcto :)'}}
                </p>
              </div>

              <!--apellido-->
              <div [ngClass]="{'mb-5': registrationForm.controls['Apellido'].valid}">
                <label for="subject"
                  [ngClass]="{'text-gray-900 dark:text-white': registrationForm.controls['Apellido'].pristine, 'text-red-700 dark:text-red-500': registrationForm.controls['Apellido'].invalid && !registrationForm.controls['Apellido'].pristine, 'text-green-700 dark:text-green-500': registrationForm.controls['Apellido'].valid}"
                  class="block mb-2 text-sm font-medium">Apellido</label>
                <input type="text" id="subject" formControlName="Apellido"
                  [ngClass]="{'bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': registrationForm.controls['Apellido'].pristine, 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400': registrationForm.controls['Apellido'].invalid && !registrationForm.controls['Apellido'].pristine, 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400': registrationForm.controls['Apellido'].valid}"
                  class="text-sm rounded-lg block w-full p-2.5" placeholder="Example Name" required>
                <p class="mt-2 text-xs text-center"
                  [ngClass]="{'text-gray-600 dark:text-gray-500': registrationForm.controls['Apellido'].pristine, 'text-red-600 dark:text-red-500': registrationForm.controls['Apellido'].invalid && !registrationForm.controls['Apellido'].pristine, 'text-green-600 dark:text-green-500': registrationForm.controls['Apellido'].valid}">
                  <span class="font-medium">{{registrationForm.controls['Apellido'].pristine ? 'Por favor, introduce tu'
                    +
                    ' apellido.' : registrationForm.controls['Apellido'].invalid ? 'Oops!' : '¡Excelente!'}}</span>
                  {{registrationForm.controls['Apellido'].pristine ? '' : registrationForm.controls['Apellido'].invalid
                  ?
                  'Apellido incorrecto :(' : 'Apellido correcto :)'}}
                </p>
              </div>
              <!--telefono-->
              <div class="mb-6" [ngClass]="{'mb-5': registrationForm.controls['Telefono'].valid}">
                <label for="subject"
                  [ngClass]="{'text-gray-900 dark:text-white': registrationForm.controls['Telefono'].pristine, 'text-red-700 dark:text-red-500': registrationForm.controls['Telefono'].invalid && !registrationForm.controls['Telefono'].pristine, 'text-green-700 dark:text-green-500': registrationForm.controls['Telefono'].valid}"
                  class="block mb-2 text-sm font-medium">Telefono</label>
                <input type="text" id="subject" formControlName="Telefono"
                  [ngClass]="{'bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': registrationForm.controls['Telefono'].pristine, 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400': registrationForm.controls['Telefono'].invalid && !registrationForm.controls['Telefono'].pristine, 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400': registrationForm.controls['Telefono'].valid}"
                  class="text-sm rounded-lg block w-full p-2.5" placeholder="987-654-3210" required>
                <p class="mt-2 text-xs text-center"
                  [ngClass]="{'text-gray-600 dark:text-gray-500': registrationForm.controls['Telefono'].pristine, 'text-red-600 dark:text-red-500': registrationForm.controls['Telefono'].invalid && !registrationForm.controls['Telefono'].pristine, 'text-green-600 dark:text-green-500': registrationForm.controls['Telefono'].valid}">
                  <span class="font-medium">{{registrationForm.controls['Telefono'].pristine ? 'Por favor, introduce '
                    +
                    'tu telefono.' : registrationForm.controls['Telefono'].invalid ? 'Oops!' :
                    '¡Excelente!'}}</span> {{registrationForm.controls['Telefono'].pristine ? '' :
                  registrationForm.controls['Telefono'].invalid ? 'Telefono incorrecto :(' : 'Telefono correcto :)'}}
                </p>
              </div>
              <!--direccion-->
              <div class="mb-6" [ngClass]="{'mb-5': registrationForm.controls['Ubicacion'].valid}">
                <label for="subject"
                  [ngClass]="{'text-gray-900 dark:text-white': registrationForm.controls['Ubicacion'].pristine, 'text-red-700 dark:text-red-500': registrationForm.controls['Ubicacion'].invalid && !registrationForm.controls['Ubicacion'].pristine, 'text-green-700 dark:text-green-500': registrationForm.controls['Ubicacion'].valid}"
                  class="block mb-2 text-sm font-medium">Ubicacion</label>
                <input type="text" id="subject" formControlName="Ubicacion"
                  [ngClass]="{'bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': registrationForm.controls['Ubicacion'].pristine, 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400': registrationForm.controls['Ubicacion'].invalid && !registrationForm.controls['Ubicacion'].pristine, 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400': registrationForm.controls['Ubicacion'].valid}"
                  class="text-sm rounded-lg block w-full p-2.5" placeholder="Diag. #" required>
                <p class="mt-2 text-xs text-center"
                  [ngClass]="{'text-gray-600 dark:text-gray-500': registrationForm.controls['Ubicacion'].pristine, 'text-red-600 dark:text-red-500': registrationForm.controls['Ubicacion'].invalid && !registrationForm.controls['Ubicacion'].pristine, 'text-green-600 dark:text-green-500': registrationForm.controls['Ubicacion'].valid}">
                  <span class="font-medium">{{registrationForm.controls['Ubicacion'].pristine ? 'Por favor, introduce'
                    +
                    'tu ubicacion.' : registrationForm.controls['Ubicacion'].invalid ? 'Oops!' :
                    '¡Excelente!'}}</span> {{registrationForm.controls['Ubicacion'].pristine ? '' :
                  registrationForm.controls['Ubicacion'].invalid ? 'Ubicacion incorrecta :(' : 'Ubicacion correcta :)'}}
                </p>
              </div>
              <!--sexo-->
              <div>
                <label for="countries"
                  [ngClass]="{'text-gray-900 dark:text-white': registrationForm.controls['Sexo'].pristine, 'text-red-700 dark:text-red-500': registrationForm.controls['Sexo'].invalid && !registrationForm.controls['Sexo'].pristine, 'text-green-700 dark:text-green-500': registrationForm.controls['Sexo'].valid}"
                  class="block mb-2 text-sm font-medium">Sexo</label>
                <select id="countries" formControlName="Sexo"
                  [ngClass]="{'bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': registrationForm.controls['Sexo'].pristine, 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400': registrationForm.controls['Sexo'].invalid && !registrationForm.controls['Sexo'].pristine, 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400': registrationForm.controls['Sexo'].valid}"
                  class="text-sm rounded-lg block w-full p-2.5">
                  <option selected disabled>Seleccionar:</option>
                  <option value="F">Femenino</option>
                  <option value="M">Masculino</option>
                  <option value="Otro">Otro</option>
                </select>
              </div>
              <!--rol-->
              <div>
                <label for="countries"
                  [ngClass]="{'text-gray-900 dark:text-white': registrationForm.controls['Rol'].pristine, 'text-red-700 dark:text-red-500': registrationForm.controls['Rol'].invalid && !registrationForm.controls['Rol'].pristine, 'text-green-700 dark:text-green-500': registrationForm.controls['Rol'].valid}"
                  class="block mb-2 text-sm font-medium">Rol</label>
                <select id="countries" formControlName="Rol"
                  [ngClass]="{'bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': registrationForm.controls['Rol'].pristine, 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400': registrationForm.controls['Rol'].invalid && !registrationForm.controls['Rol'].pristine, 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400': registrationForm.controls['Rol'].valid}"
                  class="text-sm rounded-lg block w-full p-2.5">
                  <option selected disabled>Seleccionar:</option>
                  <option value="cliente">Cliente</option>
                </select>
              </div>
              <!--departamento-->
              <div>
                <label for="countries"
                  [ngClass]="{'text-gray-900 dark:text-white': registrationForm.controls['Departamento'].pristine, 'text-red-700 dark:text-red-500': registrationForm.controls['Departamento'].invalid && !registrationForm.controls['Departamento'].pristine, 'text-green-700 dark:text-green-500': registrationForm.controls['Departamento'].valid}"
                  class="block mb-2 text-sm font-medium">Departamento</label>
                <select id="countries" formControlName="Departamento"
                  [ngClass]="{'bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': registrationForm.controls['Departamento'].pristine, 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400': registrationForm.controls['Departamento'].invalid && !registrationForm.controls['Departamento'].pristine, 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400': registrationForm.controls['Departamento'].valid}"
                  class="text-sm rounded-lg block w-full p-2.5">
                  <option selected disabled>Seleccionar:</option>
                  @for (d of departamentos;track d) {
                  <option [value]="d.idDepartamento">{{d.departamento}}</option>
                  }
                </select>
              </div>
              <!--ciudad-->
              <div>
                <label for="countries"
                  [ngClass]="{'text-gray-900 dark:text-white': registrationForm.controls['Ciudad'].pristine, 'text-red-700 dark:text-red-500': registrationForm.controls['Ciudad'].invalid && !registrationForm.controls['Ciudad'].pristine, 'text-green-700 dark:text-green-500': registrationForm.controls['Ciudad'].valid}"
                  class="block mb-2 text-sm font-medium">Ciudad</label>
                <select id="countries" formControlName="Ciudad"
                  [ngClass]="{'bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': registrationForm.controls['Ciudad'].pristine, 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400': registrationForm.controls['Ciudad'].invalid && !registrationForm.controls['Ciudad'].pristine, 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400': registrationForm.controls['Ciudad'].valid}"
                  class="text-sm rounded-lg block w-full p-2.5">
                  <option selected disabled>Seleccionar:</option>
                  @for(c of ciudades; track c){
                  <option [value]="c.idCiudad">{{c.ciudad}}</option>
                  }
                </select>
              </div>

            </div>
            <!-- grid para correo y username y contraseñas -->
            <div
              class="grid lg:grid-cols-2 grid-cols-1 gap-4 justify-center border border-gray-700 py-4 pl-4 rounded-lg">

              <!--correo-->
              <div class="lg:ml-4">
                <label for="website-admin"
                  [ngClass]="{'text-gray-900 dark:text-white': registrationForm.controls['Correo'].pristine, 'text-red-700 dark:text-red-500': registrationForm.controls['Correo'].invalid && !registrationForm.controls['Correo'].pristine, 'text-green-700 dark:text-green-500': registrationForm.controls['Correo'].valid}"
                  class="mb-2 block text-sm font-medium">Correo</label>
                <div class="flex">
                  <span class="inline-flex items-center px-3 text-sm"
                    [ngClass]="{'bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600': registrationForm.controls['Correo'].pristine, 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400': registrationForm.controls['Correo'].invalid && !registrationForm.controls['Correo'].pristine, 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400': registrationForm.controls['Correo'].valid}">
                    <svg class="w-5 h-5"
                      [ngClass]="{'text-gray-500 dark:text-gray-400': registrationForm.controls['Correo'].pristine, 'text-red-500 dark:text-red-400': registrationForm.controls['Correo'].invalid && !registrationForm.controls['Correo'].pristine, 'text-green-500 dark:text-green-400': registrationForm.controls['Correo'].valid}"
                      xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path
                        d="M12.036 12.278L21.294 4.488C20.9354 4.17501 20.476 4.00176 20 4H4C3.49469 4.00097 3.00873 4.19442 2.641 4.541L12.036 12.278Z"
                        fill="currentColor" />
                      <path
                        d="M13.241 13.817C12.8804 14.0923 12.4397 14.2422 11.986 14.244C11.5579 14.2449 11.1412 14.1062 10.799 13.849L2 6.6V18C2 18.5304 2.21071 19.0391 2.58579 19.4142C2.96086 19.7893 3.46957 20 4 20H20C20.5304 20 21.0391 19.7893 21.4142 19.4142C21.7893 19.0391 22 18.5304 22 18V6.5L13.241 13.817Z"
                        fill="currentColor" />
                    </svg>
                  </span>
                  <input type="text" id="email-address-icon" formControlName="Correo"
                    [ngClass]="{'rounded-none rounded-e-lg bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': registrationForm.controls['Correo'].pristine, 'rounded-none rounded-e-lg bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-red-100 dark:border-red-400': registrationForm.controls['Correo'].invalid && !registrationForm.controls['Correo'].pristine, 'rounded-none rounded-e-lg bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-green-100 dark:border-green-400': registrationForm.controls['Correo'].valid}"
                    class="text-sm rounded-r-lg block w-full p-2.5" placeholder="name@flowbite.com">
                </div>
              </div>
              <!--username-->
              <div class="mb-5 lg:ml-10">
                <label for="website-admin"
                  [ngClass]="{'text-gray-900 dark:text-white': registrationForm.controls['Usuario'].pristine, 'text-red-700 dark:text-red-500': registrationForm.controls['Usuario'].invalid && !registrationForm.controls['Usuario'].pristine, 'text-green-700 dark:text-green-500': registrationForm.controls['Usuario'].valid}"
                  class="block mb-2 text-sm font-medium">Username</label>
                <div class="flex">
                  <span class="inline-flex items-center px-3 text-sm"
                    [ngClass]="{'bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600': registrationForm.controls['Usuario'].pristine, 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400': registrationForm.controls['Usuario'].invalid && !registrationForm.controls['Usuario'].pristine, 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400': registrationForm.controls['Usuario'].valid}">
                    <svg class="w-5 h-5"
                      [ngClass]="{'text-gray-500 dark:text-gray-400': registrationForm.controls['Usuario'].pristine, 'text-red-500 dark:text-red-400': registrationForm.controls['Usuario'].invalid && !registrationForm.controls['Usuario'].pristine, 'text-green-500 dark:text-green-400': registrationForm.controls['Usuario'].valid}"
                      aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path
                        d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z" />
                    </svg>
                  </span>
                  <input type="text" id="website-admin" formControlName="Usuario"
                    class="text-sm rounded-r-lg block w-full p-2.5"
                    [ngClass]="{'rounded-none rounded-e-lg bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': registrationForm.controls['Usuario'].pristine, 'rounded-none rounded-e-lg bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-red-100 dark:border-red-400': registrationForm.controls['Usuario'].invalid && !registrationForm.controls['Usuario'].pristine, 'rounded-none rounded-e-lg bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-green-100 dark:border-green-400': registrationForm.controls['Usuario'].valid}"
                    placeholder="Bonnie Green">
                </div>
              </div>

              <!--password-->
              <div class="lg:ml-4 ">
                <label for="email-address-icon"
                  [ngClass]="{'text-gray-900 dark:text-white': registrationForm.controls['Contrasena'].pristine, 'text-red-700 dark:text-red-500': registrationForm.controls['Contrasena'].invalid && !registrationForm.controls['Contrasena'].pristine, 'text-green-700 dark:text-green-500': registrationForm.controls['Contrasena'].valid}"
                  class="block mb-2 text-sm font-medium">Contraseña</label>
                <div class="flex">
                  <span class="inline-flex items-center px-3 text-sm"
                    [ngClass]="{'bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600': registrationForm.controls['Contrasena'].pristine, 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400': registrationForm.controls['Contrasena'].invalid && !registrationForm.controls['Contrasena'].pristine, 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400': registrationForm.controls['Contrasena'].valid}">
                    <svg class="w-5 h-5"
                      [ngClass]="{'text-gray-500 dark:text-gray-400': registrationForm.controls['Contrasena'].pristine, 'text-red-500 dark:text-red-400': registrationForm.controls['Contrasena'].invalid && !registrationForm.controls['Contrasena'].pristine, 'text-green-500 dark:text-green-400': registrationForm.controls['Contrasena'].valid}"
                      aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path
                        d="M18 9H16.5V6.5C16.5 5.30653 16.0259 4.16193 15.182 3.31802C14.3381 2.47411 13.1935 2 12 2C10.8065 2 9.66193 2.47411 8.81802 3.31802C7.97411 4.16193 7.5 5.30653 7.5 6.5V9H6C5.46957 9 4.96086 9.21071 4.58579 9.58579C4.21071 9.96086 4 10.4696 4 11V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V11C20 10.4696 19.7893 9.96086 19.4142 9.58579C19.0391 9.21071 18.5304 9 18 9ZM13 17C13 17.2652 12.8946 17.5196 12.7071 17.7071C12.5196 17.8946 12.2652 18 12 18C11.7348 18 11.4804 17.8946 11.2929 17.7071C11.1054 17.5196 11 17.2652 11 17V14C11 13.7348 11.1054 13.4804 11.2929 13.2929C11.4804 13.1054 11.7348 13 12 13C12.2652 13 12.5196 13.1054 12.7071 13.2929C12.8946 13.4804 13 13.7348 13 14V17ZM14.5 9H9.5V6.5C9.5 5.83696 9.76339 5.20107 10.2322 4.73223C10.7011 4.26339 11.337 4 12 4C12.663 4 13.2989 4.26339 13.7678 4.73223C14.2366 5.20107 14.5 5.83696 14.5 6.5V9Z" />
                    </svg>
                  </span>
                  <input type="password" id="website-admin" formControlName="Contrasena"
                    class="text-sm rounded-r-lg block w-full p-2.5"
                    [ngClass]="{'rounded-none rounded-e-lg bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': registrationForm.controls['Contrasena'].pristine, 'rounded-none rounded-e-lg bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-red-100 dark:border-red-400': registrationForm.controls['Contrasena'].invalid && !registrationForm.controls['Contrasena'].pristine, 'rounded-none rounded-e-lg bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-green-100 dark:border-green-400': registrationForm.controls['Contrasena'].valid}"
                    placeholder="••••••••••">
                </div>
              </div>
              <!--repetir password-->
              <div class="mb-3 lg:ml-10">
                <label for="email-address-icon"
                  [ngClass]="{'text-gray-900 dark:text-white': registrationForm.controls['Contrasena'].pristine, 'text-red-700 dark:text-red-500': registrationForm.controls['Contrasena'].invalid && !registrationForm.controls['Contrasena'].pristine, 'text-green-700 dark:text-green-500': registrationForm.controls['Contrasena'].valid}"
                  class="block mb-2 text-sm font-medium">Contraseña</label>
                <div class="flex">
                  <span class="inline-flex items-center px-3 text-sm"
                    [ngClass]="{'bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600': registrationForm.controls['Contrasena'].pristine, 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400': registrationForm.controls['Contrasena'].invalid && !registrationForm.controls['Contrasena'].pristine, 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400': registrationForm.controls['Contrasena'].valid}">
                    <svg class="w-5 h-5"
                      [ngClass]="{'text-gray-500 dark:text-gray-400': registrationForm.controls['Contrasena'].pristine, 'text-red-500 dark:text-red-400': registrationForm.controls['Contrasena'].invalid && !registrationForm.controls['Contrasena'].pristine, 'text-green-500 dark:text-green-400': registrationForm.controls['Contrasena'].valid}"
                      aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path
                        d="M18 9H16.5V6.5C16.5 5.30653 16.0259 4.16193 15.182 3.31802C14.3381 2.47411 13.1935 2 12 2C10.8065 2 9.66193 2.47411 8.81802 3.31802C7.97411 4.16193 7.5 5.30653 7.5 6.5V9H6C5.46957 9 4.96086 9.21071 4.58579 9.58579C4.21071 9.96086 4 10.4696 4 11V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V11C20 10.4696 19.7893 9.96086 19.4142 9.58579C19.0391 9.21071 18.5304 9 18 9ZM13 17C13 17.2652 12.8946 17.5196 12.7071 17.7071C12.5196 17.8946 12.2652 18 12 18C11.7348 18 11.4804 17.8946 11.2929 17.7071C11.1054 17.5196 11 17.2652 11 17V14C11 13.7348 11.1054 13.4804 11.2929 13.2929C11.4804 13.1054 11.7348 13 12 13C12.2652 13 12.5196 13.1054 12.7071 13.2929C12.8946 13.4804 13 13.7348 13 14V17ZM14.5 9H9.5V6.5C9.5 5.83696 9.76339 5.20107 10.2322 4.73223C10.7011 4.26339 11.337 4 12 4C12.663 4 13.2989 4.26339 13.7678 4.73223C14.2366 5.20107 14.5 5.83696 14.5 6.5V9Z" />
                    </svg>
                  </span>
                  <input type="password" id="website-admin" formControlName="Contrasena"
                    class="text-sm rounded-r-lg block w-full p-2.5"
                    [ngClass]="{'rounded-none rounded-e-lg bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': registrationForm.controls['Contrasena'].pristine, 'rounded-none rounded-e-lg bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-red-100 dark:border-red-400': registrationForm.controls['Contrasena'].invalid && !registrationForm.controls['Contrasena'].pristine, 'rounded-none rounded-e-lg bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-green-100 dark:border-green-400': registrationForm.controls['Contrasena'].valid}"
                    placeholder="••••••••••">
                </div>
              </div>

            </div>

            <div class="flex justify-center">
              <!--imagen-->
              <div class="mb-6 relative" [ngClass]="{'mb-5': registrationForm.controls['Imagen'].valid}">
                @if (selectedImages.length === 0) {
                <!-- Mostrar el campo para subir la imagen si no hay imágenes seleccionadas -->
                <label for="dropzone-file"
                  class="flex flex-col items-center justify-center w-full h-24 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                  <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <svg class="w-6 h-6 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                    </svg>
                    <p class="mb-2 text-xs text-gray-500 dark:text-gray-400"><span class="font-semibold">Click
                        para subir imagen o tomar foto</span></p>
                    <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, o JPG (MAX. 800x400px)</p>
                  </div>
                  <input #fileInput id="dropzone-file" type="file" class="hidden" (change)="onFileChange($event)"
                    accept="image/*" multiple formControlName="Imagen" />
                </label>
                } @else {
                <div class="selected-images top-0 left-0 w-full h-full bg-white p-4">
                  @for (image of selectedImages; track image) {
                  <div class="mb-2">
                    <img [src]="image" alt="Selected Image" class="max-w-full h-auto rounded-lg" />
                  </div>
                  }
                  <button type="button" (click)="clearSelection()" class="text-blue-500 cursor-pointer">Limpiar
                    selección</button>
                </div>
                }
                <!-- Mostrar las imágenes seleccionadas -->
              </div>

            </div>


            <div style="padding: 0 15% 0 15%;">

              <button type="button" (click)="crearUsuario();" [disabled]="cargando"
                class="text-white bg-blue-700 hover:bg-blue-800 w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 block">
                @if(!cargando){
                <span>Crear usuario</span>
                }
                @if(cargando){
                <span class="inline-flex items-center">
                  <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin"
                    viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                      fill="#E5E7EB" />
                    <path
                      d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                      fill="currentColor" />
                  </svg>
                  Loading...
                </span>
                }
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>


</div>