<section>
  <header style="padding-top: 25px; padding-bottom: 20px;">
    <div style="margin-bottom: -28px;">
      <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    </div>
    <div class="header">
      @for (step of steps; track step; let i = $index) {
        @if (step.stepLabel) {
          <div class="step">
            <div [ngClass]="{'active': selectedIndex === i}">
              <div class="numberContainer" [ngClass]="{'pendingColor': !step.completed && selectedIndex !== i, 'inProgressColor': selectedIndex === i, 'successColor': step.completed && selectedIndex !== i}">
                @if (!step.completed) {
                  <span class="number font-bold">{{i + 1}}</span>
                }
                @if (step.completed) {
                  <svg xmlns="http://www.w3.org/2000/svg" style="font-size: 19px; color: white;" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M5 13l4 4L19 7" />
                  </svg>
                }
              </div>
            </div>
            <a [ngClass]="{'mutedText': !step.completed && selectedIndex !== i}" class="activeText">
              @if (step.stepLabel) {
                <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
              }
            </a>
            <div class="mt-2">
              @if (step.completed && selectedIndex !== i) {
                <div class="succes">
                  <span class="font-medium">Completado</span>
                </div>
              }
              @if (selectedIndex === i) {
                <div class="inProgress">
                  <span class="font-medium">En progreso</span>
                </div>
              }
              @if (!step.completed && selectedIndex !== i) {
                <div class="pending">
                  <span class="font-medium">Pendiente</span>
                </div>
              }
            </div>
          </div>
        }
      }
    </div>
  </header>
  <div [ngTemplateOutlet]="selected ? selected.content : null"></div>
  <!-- Botones Funcionales -->
  <footer class="mt-8">
    <div class="flex justify-between" style="width: 100%;">
      <div>
        @if (selectedIndex > 0) {
          <button class="shadow bg-green-600 hover:bg-green-700 focus:shadow-outline focus:outline-none text-white py-2 px-4 rounded" cdkStepperPrevious (click)=" backStep()">Atras</button>
          } &nbsp;
          @if (selectedIndex < steps.length-1) {
            <button class="shadow bg-green-600 hover:bg-green-700 focus:shadow-outline focus:outline-none text-white py-2 px-4 rounded" (click)=" nextStep()">Siguiente</button>
          }
        </div>
        <p class="text-gray-500 text-sm">* Campos obligatorios</p> <!-- Mensaje debajo del botón -->
      </div>
    </footer>
  </section>
  