.example-container {
    border: 1px solid;
    padding: 10px;
    margin: 10px;
}

.example-step-navigation-bar {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.example-step {
    background: transparent;
    border: 0;
    margin: 0 10px;
    padding: 10px;
    color: inherit;
}

.example-step.example-active {
    border-bottom: 1px solid;
    font-weight: 600;
}

.nav-button {
    background: transparent;
    border: 1px solid #0FB1B6;
    border-radius: 3px;
    color: inherit;
    padding: 6px 8px;
}

.step {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10px;
}

.activeText {
    color: black;
}

.succes {
    background-color: #e9f4ee;
    padding: 2px 10px;
    border-radius: 8px;
}

.succes span {
    font-size: 12px;
    color: #69bd9a;
    font-weight: 900;
}

.pending {
    background-color: white;
    padding: 2px 10px;
    border-radius: 8px;
    border: 1px solid #a0a0a2;
}

.pending span {
    font-size: 12px;
    color: #a0a0a2;
}

.inProgress {
    background-color: #f1f0f8;
    padding: 2px 10px;
    border-radius: 8px;
}

.inProgress span {
    font-size: 12px;
    color: #7d78b5;
}

.mutedText {
    color: #a0a0a2 !important;
}

.numberContainer {
    background-color: #69bd9a;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    font-size: 19px;
    color: white;
    margin-top: 3px;
}

.successColor {
    background-color: #69bd9a;
}

.inProgressColor {
    background-color: #69bd9a;
}

.pendingColor {
    background-color: white;
    border: 3px solid #a0a0a2;
}

.pendingColor span {
    color: #a0a0a2 !important;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #69bd9a;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}

/* Estilos para el encabezado */
header {
    padding-top: 25px;
    padding-bottom: 20px;
  }
  
  header div:first-child {
    margin-bottom: -28px;
  }
  
  /* Estilos para el progreso */
  .mat-progress-bar {
    margin-bottom: 1rem;
  }
  
  /* Estilos para los pasos */
  .header {
    display: flex;
    justify-content: space-between;
  }
  
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .numberContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-weight: bold;
  }
  
  .number {
    color: white;
  }
  
  .successColor {
    background-color: green; /* Cambia el color de fondo para el estado completado */
  }
  
  .inProgressColor {
    background-color: #0EA5E9; /* Cambia el color de fondo para el estado en progreso */
  }
  
  .pendingColor {
    background-color: #DB3F29; /* Cambia el color de fondo para el estado pendiente */
  }
  
  .activeText {
    text-decoration: none;
    color: black; /* Cambia el color del texto activo */
  }
  
  /* Estilos para los mensajes de estado */
  .mt-2 {
    margin-top: 0.5rem;
  }
  
  .succes,
  .inProgress,
  .pending {
    text-align: center;
  }
  
  /* Estilos para los botones de navegación */
  footer {
    margin-top: 2rem;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .text-gray-500 {
    color: #718096; /* Cambia el color de texto gris */
  }
  
  .text-sm {
    font-size: 0.875rem; /* Cambia el tamaño de texto pequeño */
  }
  
  /* Estilos para los botones de navegación */
  button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  button.bg-green-600 {
    background-color: #48bb78; /* Cambia el color de fondo del botón verde */
  }
  
  button.bg-green-600:hover {
    background-color: #38a169; /* Cambia el color de fondo en el estado hover */
  }
  
  button.text-white {
    color: white; /* Cambia el color del texto a blanco */
  }
  
  button.focus\:shadow-outline:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); /* Cambia el color del borde en el enfoque */
  }
  