.table-container {
    height: 100%; /* Establece la altura al 100% de su contenedor */
}

.confirm-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 6px;
}
button {
    border: none;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
  }
  
 .eliminar{
    color: #C0392B;
  }

  button span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid royalblue;
  }
  
  .eliminar span{
    border: 4px solid #C0392B;
  }
  button span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  
  button:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: royalblue;
  }
  
  .eliminar:hover span::before {
    background: #C0392B;
  }
  button:hover {
    color: white;
  }
  
  button:active span::before {
    background: #2751cd;
  }

  /*estilos del input*/
  .input {
    max-width: 190px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  }

  .input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
  }
  
  .input-group:hover, .input:focus {
    color: #05060fc2;
  }

<<<<<<< Updated upstream
  /*estilos del boton*/
=======
>>>>>>> Stashed changes
  .button-siguiente {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    background-color: #ccc;
    color: #fdfdfd;
    border-radius: 3rem;
    font-weight: bold;
    transition: background-color 0.4s ease;
    margin-top: 50px;
    margin: 50px 0 0 2vh;
    width: 43%;
    justify-content: center;
    cursor: pointer;
  }
  
  .button-siguiente:hover {
    background-color: rgba(86, 193, 255, 1);
    color: #f1f1f1;
  }
  
  .button-siguiente svg {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: #f1f1f1;
  }
  
  .button-siguiente .download-label {
    display: none;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
    transition: opacity 0.2s ease;
  }
  
  .button-siguiente:hover .download-label {
    display: block;
    opacity: 1;
  }