<div class="table-container">
  
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Código Column -->
    <ng-container matColumnDef="codigo">
      <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.codigo }}</mat-cell>
    </ng-container>

    <!-- Artículo Column -->
    <ng-container matColumnDef="articulo">
      <mat-header-cell *matHeaderCellDef>Artículo</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.articulo }}</mat-cell>
    </ng-container>

    <!-- Laboratorio Column -->
    <ng-container matColumnDef="laboratorio">
      <mat-header-cell *matHeaderCellDef>Laboratorio</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.laboratorio }}</mat-cell>
    </ng-container>

    <!-- Cantidad Column -->
    <ng-container matColumnDef="cantidad">
      <mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>
      <!--<mat-cell *matCellDef="let item">{{ item.cantidad }}</mat-cell>-->

      <mat-cell *matCellDef="let item"><input appNumbersOnly class="input" [(ngModel)]="item.cantidad"
          (input)="updateCantidad(item)"></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

</div>

<div class="confirm-container">
  <!--boton para confirmar-->
  <button class="button-siguiente" (click)="confirmar()">
    <div
      class="absolute opacity-0 -bottom-full rounded-md py-2 px-2  left-1/2 -translate-x-1/2 group-hover:opacity-100 transition-opacity shadow-lg">
      <label class="label-button">
        Confirmar
      </label>
    </div>
  </button>
  
  <!--boton para cancelar-->
  <button class="button-siguiente" >
    <div
      class="absolute opacity-0 -bottom-full rounded-md py-2 px-2  left-1/2 -translate-x-1/2 group-hover:opacity-100 transition-opacity shadow-lg">
      <label class="label-button">
        Cancelar
      </label>
    </div>
  </button>

  <!--boton para generar pdf-->
  <button class="button-siguiente" (click)="generatePDF(); generateTableHTML()">
    <div
      class="absolute opacity-0 -bottom-full rounded-md py-2 px-2  left-1/2 -translate-x-1/2 group-hover:opacity-100 transition-opacity shadow-lg">
      <label class="label-button">
        Generar PDF
      </label>
    </div>
  </button>
</div>
