<div class="responsive-height md:mx-14 md:h-full md:w-full mb-3 flex flex-col justify-center items-start gap-6 px-4 md:px-12">

    <!--titulo de editar el perfil-->
    <label class="block 16-2  text-2xl font-bold text-[#667faa] capitalize">Editar perfil</label>
    <!-- Imagen foto perfil, nombre, correo, cambiar foto -->
    <div class=" rounded-3xl bg-white borderColor p-3 w-full">

        <div class="flex items-center gap-4 -mx-2">
            @if(cargando){
            <div class="flex flex-col items-center  animate-pulse">
                <p
                    class=" animate-pulse w-32 h-32 bg-gray-300 rounded-full dark:bg-gray-700 ring-4 ring-gray-400 dark:ring-gray-600">
                </p>
                <div class="mt-2 bg-gray-300 h-3 w-24"></div>
                <div class="mt-2 bg-gray-300 h-3 w-20"></div>
            </div>
            }
            @if(!cargando){
            @if(bool){
            <img class="object-cover w-24 h-20 mx-4 rounded-full" [src]="imagenUser" alt="avatar">
            }
            @else{
            <img class="object-cover w-10 h-10 mb-3 mx-2 rounded-3xl" [src]="foto" alt="avatar">
            }
            }

            <div class="flex justify-center md:justify-between w-full pr-5 items-center">
                <div class="flex flex-col">
                    @for(data of dataMapeo; track dataMapeo){
                    <h4 class="hidden md:block md:mt-2 md:font-bold md:text-gray-600 uppercase">
                        <span class="text-gray-500 font-medium">
                        @if(bool){
                        {{data.nombre}} {{data.apellido}} {{data.estado}}
                        }
                        @else{
                        {{userAuth}}
                        }
                    </span>
                    </h4>
                    <p class="hidden md:block md:mt-1 md:text-sm md:font-semibold md:text-gray-400">
                        @if(bool){
                        {{data.correo}}
                        }
                        @if(!bool){
                        {{email}}
                        }
                    </p>
                    }
                </div>
                <div>
                    <button type="button"
                        class="text-white bg-[#667faa] hover:bg-[#55698c] focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                        Cambiar Foto
                    </button>
                </div>
            </div>


        </div>
    </div>

    @for(data of dataMapeo; track dataMapeo){
    <div class="grid grid-cols-2 gap-4">


        <!-- Nit Empresa -->
        <div class="mt-5 mb-1">
            <label for="nit_empresa"
                class="block mb-2 text-lg font-bold text-[#667faa] uppercase">Identificacion</label>
            <input type="text" id="nit_empresa" aria-label="disabled input 2"
                class="bg-white border-gray-300 text-gray-400 font-semibold text-md capitalize rounded-2xl focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                value="{{data.identificacion}}" disabled readonly>
        </div>

        <!-- Telefono -->
        <div class="mt-5 mb-1">
            <label for="telefono"
                class="block mb-2 text-lg font-bold text-[#667faa] capitalize">Telefono</label>
            <input type="text" id="nombre_completo" aria-label="disabled input 2"
                class="bg-white border border-gray-300 text-gray-400 font-semibold text-md capitalize rounded-2xl focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                value="{{data.telefono}}" disabled readonly>
        </div>

        <!-- Nombre completo -->
        <div class="mb-1">
            <label for="nombre_completo"
                class="block mb-2 text-lg font-bold text-[#667faa] capitalize">nombre completo</label>
            <input type="text" id="nombre_completo" aria-label="disabled input 2"
                class="bg-white border border-gray-300 text-gray-400 font-semibold text-md capitalize rounded-2xl focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                value="{{data.nombre}}" disabled readonly>
        </div>

        <!-- Correo -->
        <div class="mb-1">
            <label for="correo" class="block mb-2 text-lg font-bold text-[#667faa] capitalize">Correo
                Electronico</label>
            <input type="text" id="correo" aria-label="disabled input 2"
                class="bg-white border border-gray-300 text-gray-400 font-semibold text-md capitalize rounded-2xl focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                value="{{data.correo}}" disabled readonly>
        </div>

        <!-- Usuario -->
        <div class="mb-1">
            <label for="usuario"
                class="block mb-2 text-lg font-bold text-[#667faa] capitalize">Usuario</label>
            <input type="text" id="usuario" aria-label="disabled input 2"
                class="bg-white border border-gray-300 text-gray-400 font-semibold text-md capitalize rounded-2xl focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                value="{{data.usuario}}" disabled readonly>
        </div>

        <!-- Correo -->
        <div class="mb-1">
            <label for="contrasena"
                class="block mb-2 text-lg font-bold text-[#667faa] capitalize">Contraseña</label>
            <input type="text" id="contrasena" aria-label="disabled input 2"
                class="bg-white border border-gray-300 text-gray-400 font-semibold text-md capitalize rounded-2xl focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                value="••••••••••" disabled readonly>
        </div>
    </div>
}
</div>
