.space-table{
    margin: 45px;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

/*estilos del formulario*/
.button {

    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease;
  }
  
  .button--icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border-radius: 0.25rem;
  }
  
  .button--icon:focus, .button--icon:hover {
    background-color: #ededed;
  }
  
  .button--primary {
    background-color: #1890ff;
    color: #FFF;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: 0.875rem;
  }
  
  .button--primary:hover {
    background-color: #024FAF;
  }
  
  .input {
    display: flex;
    flex-direction: column;
  }
  
  .input + .input {
    margin-top: 1.75rem;
  }
  
  .input__label {
    font-weight: 700;
    font-size: 0.875rem;
  }
  
  .input__field {
    display: block;
    margin-top: 0.5rem;
    border: 1px solid #DDD;
    border-radius: 0.25rem;
    padding: 0.75rem 0.75rem;
    transition: 0.15s ease;
  }
  
  .input__field:focus {
    outline: none;
    border-color: #007dab;
    box-shadow: 0 0 0 1px #1890ff, 0 0 0 4px rgba(0, 125, 171, 0.25);
  }
  
  .input__field--textarea {
    min-height: 100px;
    max-width: 100%;
  }
  
  .input__description {
    font-size: 0.875rem;
    margin-top: 0.5rem;
    color: #8d8d8d;
  }


  /*colores de input invalidos y validos*/
  .input--invalid .input__field {
    border-color: red; /* Cambia el color del borde a rojo para campos inválidos cuando se establece la clase 'input--invalid' */
  }

  .modal-open {
    overflow: hidden;
  }
  
  .modal-open .relative {
    overflow: auto;
  }